{% load static %}
{% load static custom_filters %}
<style>
  .labeltag{
  margin-top: -171px;
  }
</style>
<ul>
  {% for role, p in players %}
    <li>
      {% if role == 'human' %}
        {{ p.username }}
      {% else %}
        {{ p.name }} (bot)
      {% endif %}
    </li>

    {% for _ in quantity|make_range %}
      <div class="wrapper" id="game-{{ game.id }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
        <div class="containerre" style="display: flex;">
          <div class="slider" id="slider-{{ game.id }}-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
            {% for item in choices_with_nonce %}
              {% with choice=item.choice %}
                {% with color=game|get_color:choice %}
                  <div id="{{ choice.choice_text }}" class="cards"
                       style="background: url({% static 'css/images/'|add:color|add:'.png' %});">
                    <div class="lootelement"
                         data-price="{{ choice.value }}"
                         data-currency-file="{{ item.currency.file_url }}"
                         data-currency-symbol="{{ item.currency.symbol }}">
                      {% if choice.file.url %}
                        <div class="sliderImg"
                             style="background-image: url({{ choice.file.url }}); background-repeat: no-repeat; background-position: center; background-size: contain; height: 10em; width: 100%;"></div>
                      {% endif %}
                      <div class="sliderPrice"><b class="innerprice">{{ choice.value }}</b>💎</div>
                    </div>
                  </div>
                {% endwith %}
              {% endwith %}
            {% endfor %}
          </div>

          <img class="spinner-arrow" src="{% static 'css/images/opener_selector.jpg' %}" alt="spinner-arrow">
        </div>

        <div class="labeltag" style="margin-top; -171px;">
          <h4>{{ game.name }}</h4>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</ul>
