<div id="top-hits-container">
    {% for hit in top_hits %}
        <div class="top-hit">
            <p><strong>User:</strong> {{ hit.user }}</p>
            <p><strong>Game:</strong> {{ hit.game }}</p>
            <p><strong>Choice:</strong> {{ hit.choice }}</p>
            <p><strong>Color:</strong> {{ hit.color }}</p>
            <p><strong>Date:</strong> {{ hit.mfg_date }}</p>
            {% if hit.file %}
                <a href="{{ hit.file.url }}"> <img src="{{ hit.file.url }}"></a>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
</div>
