
.navbarx{
  position: fixed;
	display: inline-block;
	background: linear-gradient(25deg, rgba(255, 191, 0, 0.486), rgba(139, 141, 163, 0.486));
	  /* text styles */
	text-decoration: none;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;
  margin-top: 0px;
  text-align: left;
  margin-left: 12.2%;
  width: 87.8%;
  height: 14vh;
  max-width: 1400px;
  z-index: 2;
  text-decoration: none;

  top: 0px;
  left: 0;
  right: 0;
    animation: bounce 0.8s;
}

@keyframes bounce {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

.navbarx ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
 /*margin-left: -25%;*/
}

.navbarx li {
  display: inline-block;
  margin: 0 10px;
}

.navbarx a {
  color: #fff;
  text-decoration: none;
}



 .logo{
    position: absolute;
    top: 5px;
    left: 2.6vh;
    height: 10px;
    width: 10px;
  }

@media screen and (max-width: 1400px) {
  .navbarx{
    position: fixed;
	  display: inline-block;
	  background: linear-gradient(25deg, rgba(255, 191, 0, 0.486), rgba(139, 141, 163, 0.486));
	  /* text styles */
   	text-decoration: none;
	  font-size: 25px;
	  font-family: sans-serif;
	  font-weight: 100;
    margin-top: 0px;
    text-align: left;
    margin-left: 12.2%;
    width: 120%;
    height: 14vh;
    z-index: 2;
         }

  .logo{
    position: absolute;
    top: 5px;
    left: 4vh;
    height: 10px;
    width: 10px;
  }

}

@media screen and (max-width: 600px) {
  .navbarx{
  position: fixed;
	display: inline-block;
	background: linear-gradient(25deg, rgba(255, 191, 0, 0.486), rgba(139, 141, 163, 0.486));
	  /* text styles */
	text-decoration: none;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;
  text-align: left;
  margin-left: 0%;
  margin-top: 20%;
  width: 25%;
  z-index: 2;
         }
}

.navbarx a{
  /*text-decoration: none;*/
    /*style of LI that gets dynamically added to menu to create background effect*/
  font-size: 20px;
}

  @media screen and (max-width: 600px) {
  .navbarx a {
    float: none;
    margin-left: 0%;
    width: 100%;
  }
}

.navbarxae{
  position: fixed;
	display: inline-block;
	background: rgba(30, 146, 209, 0.774);
	  /* text styles */
	text-decoration: none;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;
  margin-top: 0px;
  text-align: left;
  margin-left: 12.2%;
  width: 87.8%;
  z-index: 2;
  box-shadow: 0px 8px 16px 0px rgba(224, 208, 208, 0.2);
}

.glass{
	/* background styles */
	position: relative;
	display: inline-block;
	padding: 5.4vh 30px;
	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;
  border-radius: 10px;
  text-shadow: 0px -1px #333;
  box-sizing:border-box
}

@media screen and (max-width: 1400px) {
  .glass{
  font-size: 18px;
  position: relative;
	display: inline-block;
	padding: 5vh 30px;
	/* text styles */
	text-decoration: none;
	color: #fff;
	font-family: sans-serif;
	font-weight: 100;
  border-radius: 10px;
  text-shadow: 0px -1px #333;
    box-sizing:border-box
  }
}


.glass:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 100%;
  box-sizing:border-box
}

.glass:hover{
	background: linear-gradient(blue, skyblue);
  box-sizing:border-box
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown1 {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown2 {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown3 {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown4 {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown5 {
  position: relative;
  display: inline-block;
  z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(8, 131, 231, 0.644);
  min-width: 280px;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.767);
  border-radius: 10px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgba(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(4, 0, 255);
  z-index: 1;
  border-radius: 10px;
  }

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {
  background-color: #ddd;
  z-index: 1;
  }

.dropdown1:hover .dropdown-content {
  display: block;
  z-index: 1;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {
  background-color: #ddd;
  z-index: 1;
  }

.dropdown2:hover .dropdown-content {
  display: block;
  z-index: 1;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content3 a:hover {
  background-color: #ddd;
  z-index: 1;
  }

.dropdown3:hover .dropdown-content {
  display: block;
  z-index: 1;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content4 a:hover {
  background-color: #ddd;
  z-index: 1;
  }

.dropdown4:hover .dropdown-content {
  display: block;
  z-index: 1;
  }


/* Dropdown Content (Hidden by Default) */
.dropdown-content5 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content5 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content5 a:hover {
  background-color: #ddd;
  z-index: 1;
  }

.dropdown5:hover .dropdown-content {
  display: block;
  z-index: 1;
  }


.slideshow-containererte {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.slideshow-containererte img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow-containererte img:first-child {
  opacity: 1;
}


@media(max-width: 900px){

    .section{
       padding: 30px;
       position: center;
    }

        #header{
        text-align: left;

}

    #header h1{
    font-size: 40px;
    width: auto;
    transform: none;
    position: static;
    }

    .nav {
        flex-direction: column;
        padding: 10px 0;
        z-index: 3;
    }

    .nav ul{
    display: flex;
    margin-left: 100px;
    z-index: 3;
  }

}
nav ul{
    display: flex;
    margin-left: 0px;
}

nav a{
    padding: 10px;
    margin-right: 0px;
    color: rgba(130, 130, 12, 0.74);
    font-size: 18px;
}

@media screen and (max-width: 1400px) {
.nav a{
    padding: 10px;
    margin-right: 0px;
    color: rgba(130, 130, 12, 0.74);
    font-size: 14px;
   }
}

nav a:hover{
   color: rgb (114, 0, 0);
   border-bottom: 2ps solid red;
}


element.style {
}
nav.show {
    right: 0px;
}
nav.show {
    right: 0px;
}
nav {
    width: 250px;
    height: 100vh;
    padding: 60px 20px;
    background: linear-gradient(33deg, rgba(255, 0, 0, 0.637), rgba(0, 26, 255, 0.637), rgba(0, 247, 255, 0.637));
    position: fixed;
    right: -280px;
    top: 0;
    transition: right 0.5s;
    z-index: 3;
}

.bell {
    position: fixed;
    height: 30px;
    width: 50px;
    top: 34px;
    right: 40px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    z-index: 3;

.hamburger {
    position: fixed;
    top: 40px;
    right: 50px;
    z-index: 10;
    cursor: pointer;
}

.bun {
    height: 3px;
    width: 30px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid rgb(0, 238, 255);
    margin-bottom: 2px;
    z-index: 12;
    cursor: pointer;


.bun2 {
    height: 3px;
    width: 30px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 238, 255);
    margin-bottom: 2px;
    z-index: 12;
    cursor: pointer;
}


.bun3 {
    height: 3px;
    width: 30px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 238, 255);
    margin-bottom: 2px;
    z-index: 12;
    cursor: pointer;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::after, ::before {
    box-sizing: border-box;
}

navtext h2 {
    color: gold;
    margin-left: 10px;
    margin-top: 55px;
    font-size: 30px;
}


.navItem {
    margin-top: 20px;
    width: 70px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
    margin-left: 10px;
}

.navItem2 {
    margin-top: 20px;
    background-color: blue;
    width: 100px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
     margin-left: 10px;

}

.navItem3 {
    margin-top: 20px;
    background-color: blue;
    width: 180px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
    margin-left: 10px;
}

.navItem4 {
    margin-top: 20px;
    background-color: blue;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
     margin-left: 10px;
}

.navItem5 {
    margin-top: 20px;
    background-color: blue;
    width: 165px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
     margin-left: 10px;
}

.navItem6 {
    margin-top: 20px;
     padding-right: 10px;
    background-color: blue;
    width: 194px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
     margin-left: 10px;
}

.navItem7 {
    margin-top: 20px;
    background-color: blue;
    width: 60px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
     margin-left: 10px;
}

.navItem8 {
    margin-top: 20px;
    background-color: blue;
    width: 75px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
     margin-left: 10px;
}

.navItem9 {
    margin-top: 20px;
    background-color: blue;
    width: 140px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
     margin-left: 10px;
}

.navItem10 {
    margin-top: 20px;
    background-color: blue;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
    margin-left: 10px;}

.navItem11 {
    margin-top: 20px;
    margin-left: 10px;
    background-color: blue;
    width: 80px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;}
    margin-left: 20px;


@media screen and (max-width: 1400px) {

.navItem {
    margin-top: 20px;
    width: 70px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem2 {
    margin-top: 20px;
    background-color: blue;
    width: 100px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem3 {
    margin-top: 20px;
    background-color: blue;
    width: 180px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem4 {
    margin-top: 20px;
    background-color: blue;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem5 {
    margin-top: 20px;
    background-color: blue;
    width: 165px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem6 {
    margin-top: 20px;
     padding-right: 10px;
    background-color: blue;
    width: 194px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem7 {
    margin-top: 20px;
    background-color: blue;
    width: 60px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem8 {
    margin-top: 20px;
    background-color: blue;
    width: 75px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem9 {
    margin-top: 20px;
    background-color: blue;
    width: 140px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem10 {
    margin-top: 20px;
    background-color: blue;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;}

.navItem11 {
    margin-top: 20px;
    background-color: blue;
    width: 80px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;}
    margin-left: 10px;
}