
        body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0% 60%;
    width: 90%;
    display: flex;
}


.wrapper{
    margin-left: 35vh;
    margin-top: 40%;

}


.container{
   border: 3px solid;
   border-color: #323c52;
   border-radius: 15px;
   /* width: 1000px;
   height: 350px; */
   width: 120vh;
   height: 25vh;
   backdrop-filter: blur(20px);
   overflow: hidden;

}

.spinner-arrow{
    margin-bottom: auto;
    margin-left: 60vh;
    margin-top: -3vh;
    height: 8vh;
    margin-right: auto;
    width: 20px;
    position:absolute;
    user-select: none;
}

.slider img{
    width: 15vh;
    height: 20vh;
    margin-top: 2vh;
    margin-left: 3vh;
    border: 2px solid;
    border-color: transparent; /*to change later*/
    border-radius: 7px;
}



.slider{
    display: inline-flex;
    position:absolute;
    flex-wrap: nowrap;
}

.slider[data-animated='true']{
    animation: slideshow 18s  forwards infinite;
}

.slider[data-animated='slow']{
    animation-play-state:paused;

}



.cards{
    user-select: none;
}

@keyframes slideshow {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(-100%);
    }
  }



/* Final Message */

.popup{
    display: none;
    position: fixed;
    height: fit-content;
    width: fit-content;
    right: 60vh;
    top: 50vh;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(20px);
    padding: 20px;
    border:3px solid #323c52;
}

.text{
    text-align: center;
}

.close{
    margin-left: 30vh;
    cursor:pointer;
    user-select: none;
}

.start{
    position: absolute;
    right: 85vh;
    top: 50vh;
    height: 10vh;
    width: 23vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: black;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}