/*ebase styling*/
body{
  background: linear-gradient(blue, skyblue);	
  /*affects ecommerce section background color scheme*/
}

.ecommerce{
  height: 105%;
}

.card{
  margin-left: 10%;
  max-height: 100%;
  max-width: 80%;
  border-radius: 1%;
}

.card-body{
  max-height: 25%;
}

.card-body1{
  border-radius: 20px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 80%;
}

.card mb-4{
  border-radius: 20px;
  max-width: 80%;
}

.masthead {
    background: #aaeeff;
    opacity: 0.3;
    position: fixed;
    height: auto;
    padding-bottom: 5px;
    box-shadow: 0 16px 48px #e3e7eb;
    padding-top: 5px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.card-bodye{
  padding: 10px;
}

.search{
    height: 50px;
    border-radius: 20px;
    justify-content: right;
    flex-direction: row;
    margin-left: 71%;
    z-index: 3;
}

.search:hover{
 cursor: pointer;
 text-decoration: underline;
 font-size: 21px;
}



.navbarx{
  position: fixed;
	display: inline-block;
	background: linear-gradient(25deg, rgba(255, 191, 0, 0.486), rgba(139, 141, 163, 0.486));
	  /* text styles */
	text-decoration: none;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;
  margin-top: 0px;
  text-align: left;
  margin-left: 12.2%;
  height: 14vh;
  width: 87.8%;
  max-width: 1400px;
  z-index: 2;
}

.ul{
  padding-inline-start: -40px;
}

@media screen and (max-width: 1400px) {
  .navbarx{
    position: fixed;
	  display: inline-block;
	  background: linear-gradient(25deg, rgba(255, 191, 0, 0.486), rgba(139, 141, 163, 0.486));
	  /* text styles */
   	text-decoration: none;
	  font-size: 25px;
	  font-family: sans-serif;
	  font-weight: 100;
    margin-top: 0px;
    text-align: left;
    margin-left: 12.2%;
    width: 89%;
    height: 14vh;
    z-index: 2;
         }
}

 .logo{
    position: absolute; 
    top: 5px; 
    left: 2.6vh; 
    height: 10px;  
    width: 10px;
  }

@media screen and (max-width: 600px) {
  .navbarx{
  position: fixed;
	display: inline-block;
	background: linear-gradient(25deg, rgba(255, 191, 0, 0.486), rgba(139, 141, 163, 0.486));
	  /* text styles */
	text-decoration: none;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;
  text-align: left;
  margin-left: 0%;
  margin-top: 20%;
  width: 25%;
  z-index: 2;
         }

  .logo{
  position: absolute; 
  top: 5px; 
  left: 4vh; 
  height: 10px;  
  width: 10px;
  }
}

.navbarx a{
  /*text-decoration: none;*/  
    /*style of LI that gets dynamically added to menu to create background effect*/
  font-size: 20px;
}

  @media screen and (max-width: 600px) {
  .navbarx a {
    float: none;
    margin-left: 0%;
    width: 100%;
  }
}

.navbarxae{
  position: fixed;
	display: inline-block;
	background: rgba(30, 146, 209, 0.774);
	  /* text styles */
	text-decoration: none;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;
  margin-top: 0px;
  text-align: left;
  margin-left: 12.2%;
  width: 87.8%;
  z-index: 2;
  box-shadow: 0px 8px 16px 0px rgba(224, 208, 208, 0.2);
}

  @media screen and (max-width: 1400px) {
.navbarxae{
  position: fixed;
	display: inline-block;
	background: rgba(30, 146, 209, 0.774);
	  /* text styles */
	text-decoration: none;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 100;
  margin-top: 0px;
  text-align: left;
  margin-left: 12.2%;
  width: 87.8%;
  z-index: 2;
  box-shadow: 0px 8px 16px 0px rgba(224, 208, 208, 0.2);
}
}

.glass{
	/* background styles */
	position: relative;
	/*display: inline-block;*/
	padding: 4.5vh 30px;
	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 100;
  border-radius: 10px;
  height: 14vh;
  text-shadow: 0px -1px #333;
}

.glass:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 100%;
}

.glass:hover{
	background: linear-gradient(blue, skyblue);	
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown1 {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown2 {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown3 {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown4 {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown5 {
  position: relative;
  display: inline-block;
  z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(8, 131, 231, 0.644);
  min-width: 280px;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.767);
  border-radius: 10px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgba(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(4, 0, 255);
  z-index: 1;
  border-radius: 10px;
  }

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {
  background-color: #ddd;
  z-index: 1;
  }

.dropdown1:hover .dropdown-content {
  display: block;
  z-index: 1;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {
  background-color: #ddd;
  z-index: 1;
  }

.dropdown2:hover .dropdown-content {
  display: block;
  z-index: 1;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content3 a:hover {
  background-color: #ddd;
  z-index: 1;
  }

.dropdown3:hover .dropdown-content {
  display: block;
  z-index: 1;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content4 a:hover {
  background-color: #ddd;
  z-index: 1;
  }

.dropdown4:hover .dropdown-content {
  display: block;
  z-index: 1;
  }


/* Dropdown Content (Hidden by Default) */
.dropdown-content5 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content5 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content5 a:hover {
  background-color: #ddd;
  z-index: 1;
  }

.dropdown5:hover .dropdown-content {
  display: block;
  z-index: 1;
  }

.filter {
  transition: width 1s linear;

  width: 1%;
  height: 100%;
  background-color: red;
  animation: grow 0.3s linear infinite;
}

@keyframes grow {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.hamburger {
    position: fixed;
    top: 40px;
    right: 50px;
    z-index: 10;
    cursor: pointer;
}

.bun {
    height: 4px;
    width: 30px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid rgb(0, 238, 255);
    margin-bottom: 3px;
    z-index: 3;
}

.bun2 {
    height: 8px;
    margin-right: 20px;
    width: 30px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 238, 255);
    margin-bottom: 3px;
    z-index: 3;
}


.bun3 {
    height: 30px;
    margin-right: 20px;
    width: 8px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 238, 255);
    margin-bottom: 3px;
    z-index: 3;
}

.bell {
  position: fixed;
  height: 30px;
  width: 50px;
  top: 34px;
  right: 40px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  z-index: 3;


}

body.dark{
    background-color: rgb(37, 37, 37);
    color: white;
}


button.dark {
    background-color: white;
    border: 2px solid grey;

}

navtext{
  text-align: center;
  font-size: 60px;
  justify-content: center;
  color: red;
}

.navItem {
    margin-top: 20px;
    width: 70px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem2 {
    margin-top: 20px;
    background-color: blue;
    width: 100px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem3 {
    margin-top: 20px;
    background-color: blue;
    width: 180px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}  

.navItem4 {
    margin-top: 20px;
    background-color: blue;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem5 {
    margin-top: 20px;
    background-color: blue;
    width: 165px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem6 {
    margin-top: 20px;
     padding-right: 10px;
    background-color: blue;
    width: 194px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem7 {
    margin-top: 20px;
    background-color: blue;
    width: 60px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem8 {
    margin-top: 20px;
    background-color: blue;
    width: 75px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem9 {
    margin-top: 20px;
    background-color: blue;
    width: 140px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem10 {
    margin-top: 20px;
    background-color: blue;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;}

.navItem11 {
    margin-top: 20px;
    background-color: blue;
    width: 80px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;}

@media screen and (max-width: 1400px) {

.navItem {
    margin-top: 20px;
    width: 70px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem2 {
    margin-top: 20px;
    background-color: blue;
    width: 100px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem3 {
    margin-top: 20px;
    background-color: blue;
    width: 180px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem4 {
    margin-top: 20px;
    background-color: blue;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem5 {
    margin-top: 20px;
    background-color: blue;
    width: 165px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem6 {
    margin-top: 20px;
     padding-right: 10px;
    background-color: blue;
    width: 194px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem7 {
    margin-top: 20px;
    background-color: blue;
    width: 60px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem8 {
    margin-top: 20px;
    background-color: blue;
    width: 75px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem9 {
    margin-top: 20px;
    background-color: blue;
    width: 140px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
     background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;
}

.navItem10 {
    margin-top: 20px;
    background-color: blue;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;}

.navItem11 {
    margin-top: 20px;
    background-color: blue;
    width: 80px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    background: url("images/gelbuttonleft.gif") top left no-repeat, url("images/gelbuttonright.gif") top right no-repeat, url("images/gelbuttoncenter.gif") top center repeat-x;}
}

nav ul{
    display: flex;
    margin-left: 100px;
}

nav li a{
     color: red;
     font-size: 24px;
}

nav{
    padding: 60px 40px;
    background: linear-gradient(33deg, rgba(255, 0, 0, 0.637), rgba(0, 26, 255, 0.637), rgba(0, 247, 255, 0.637)); 
    position: fixed;
    right: -350px;
    top: 0;
    transition: right 0.5s;
    z-index: 3;
    height: 100%;
}

.footer{
  background-color: black;
}

nav.show {
    right: -20px;
}

nav h2 {
    color: gold;
    margin-left: 0px;
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
}

header {
    font-family: Press Start 2P;
    background-attachment: fixed;
    position: fixed;
    height: 14vh;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(50, 146, 209, 0.329);
    margin-top: 0px;
    z-index: 1;
}


input[type=text], select, textarea {
    z-index: 3;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=text], input[type=password] {
    border-radius: 30px;
    text-align: center;
    width: 80%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
form input {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgb(0 0 0 / 20%);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
}

