{% extends 'ebase.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
    
  {% if user.is_authenticated %}



<div class="poste1"> 
  {% load guest_user %}

{% if user|is_guest_user %}
  {# user is a guest instance, link to conversion page #}
  <a href="{% url "guest_user_convert" %}">Sign up and save your work!</a>
{% else %}
<!--{# regular sign up link #}
  <a href="{% url "form"}">Register now!</a>-->
{% endif %}
<div class = "search">
    
<br>
<br>
<br>
<br>
<br>
<br>

<form action="{% url 'showcase:search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
</div>
<br>
  <br>
    <h1 class="hello">Hello {{user.username}}!</h1>
      <br>
        <br>
    <!--saved items here-->
    {% for AboutBackgroundImage in object_list %}
      <div class = "postop">
        <h1>{{AboutBackgroundImage.name}}</h1>
        <br>
        <p class="describe">
          {{AboutBackgroundImage.description}}</p> 
        <br>
        <br>
          <img class = "hunt" src="{{AboutBackgroundImage.image}}">
        <br>
        <br>
        <br>
  </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


   <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    
   
    {% endfor %}
  {% else %}
<head>
  <meta http-equiv="refresh" content="0; {% url 'login' %}">
  </head>
  {% endif %}
{% endblock content %}