<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Achievements</title>
</head>
<body><h1>Achievements</h1>
<ul>
    {% for achievement in TotalAchievements %}
        <li class="{% if achievement.earned %}glow{% endif %}">
            <h2>{{ achievement.title }}</h2>
            <img src="{{ achievement.image.url }}" alt="{{ achievement.title }}">
        </li>
    {% endfor %}
</ul>

<style>
    .glow {
        animation: glow 1s ease-in-out infinite alternate;
    }

    @keyframes glow {
        from {
            box-shadow: 0 0 5px #fff;
        }
        to {
            box-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff;
        }
    }
</style>


    <h1>Your Achievements</h1>
    <ul>
        {% for achievement in Achievements %}
            <li>
                <h2>{{ achievement.title }}</h2>
                <img src="{{ achievement.image.url }}" alt="{{ achievement.title }}">
            </li>
        {% endfor %}
    </ul>
</body>
</html>
