<!-- add_question.html -->
<form method="post">
    {% csrf_token %}
    {{ question_form.as_p }}
    {{ formset.management_form }}
    <div id="formset">
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}
    </div>
    <button type="button" id="add-answer">Add Answer Choice</button>
    <input type="submit" value="Submit">
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#add-answer").click(function () {
            // Clone the first answer choice form and append it to the formset div
            const formCount = $('#id_form-TOTAL_FORMS').val();
            const newForm = $('#formset .form-row:first').clone();
            newForm.find('input').val('');
            newForm.find('input[type="checkbox"]').prop('checked', false);
            newForm.appendTo("#formset");
            $('#id_form-TOTAL_FORMS').val(parseInt(formCount) + 1);
        });

        $(".delete-row").click(function () {
            // Remove the clicked answer choice form
            $(this).closest(".form-row").remove();
        });
    });
</script>
