{% extends 'base.html' %} 

{% load static %} 

{% block content %}

<head>

</head>

  <div id="overlay">  
    <img src = "76.gif">
    </div>

    <div class="parallax1" id = "main">
      <h2 class = "opening">Customization Add-Ons</h2> <h2 class="caption1a">We offer many features that are very useful with websites, like login pages, contact forms, etc. If you want a functional and user-friendly custom website, these features are essentials for any business. If you choose a website tier package (WTP), there is a comparisons chart on our tiers page (click button below), which compares package features and costs. You may choose to add some features from these charts onto your current website tier package for an added cost, or you may and cherry-pick your features if you have a custom tier plan.
      </h2>
</div>
   
    
    <div class="parallax2" id = "leaders">
        <h2 class = "opening2">Gold Tier Business Website</h2><h2 class="caption2ae">Gold Tier is suitable for small entropreneurs who want a quick and easy way to market their items, advertise, collect user feedback, and have an administration page. It has all of the essential features of an ecommerce website along with a user database. Shown below is a statistics chart of Gold Tier Websites.</h2>
          </h2>
          <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
      
      <div class = "goldtier">

<table border="1">
<tbody><tr><th>
Aspect of Website
</th><th>Is it included?</th>
<th>Quantity</th>
<th>Cost (add-ons)</th></tr>
<tr><th>Administration Database</th>
<td>Yes</td>
<td>1</td>
<td>Explosive Eruption</td></tr>
<tr><th>Administration Login</th>
<td>Yes</td>
<td>1</td>
<td>Pyroclastic flows and Mudflows</td></tr>
<tr><th>Administration Sign Up Page</th>
<td>Yes</td>
<td>1</td>
<td>Explosive Eruption</td>
<tr><th>Chats</th>
<td>No</td>
<td>0</td>
<td>Pyroclastic flows and Mudflows</td></tr>
<tr><th>Contact Page</th>
<td>Yes</td>
<td>0</td>
<td>Explosive Eruption</td></tr>
<tr><th>Custom Administration Themes</th>
<td>No</td>
<td>0</td>
<td>Explosive Eruption</td>
<tr><th>Ecommerce</th>
<td>Yes</td>
<td>1</td>
<td>Explosive Eruption</td></tr>
<tr><th>High SEO Ranking</th>
<td>Yes</td>
<td>1-time SEO boost</td>
<td>Explosive Eruption</td></tr>
<tr><th>Login Page</th>
<td>Yes</td>
<td>1</td>
<td>2,000$ Each</td></tr>

<tr><th>User Database</th>
<td>Yes</td>
<td>1</td>
<td>Explosive Eruption</td></tr>
<tr><th>Maintenance</th>
<td>No</td>
<td>0</td>
<td>Pyroclastic flows and Mudflows</td></tr>
<tr><th>Professional Logo</th>
<td>Yes</td>
<td>1</td>
<td>250-3,000$</td></tr>

<tr><th>High SEO Ranking</th>
<td>Yes</td>
<td>1-time SEO boost</td>
<td>Explosive Eruption</td></tr>

<tr><th>Maintenance</th>
<td>No</td>
<td>0</td>
<td>Pyroclastic flows and Mudflows</td></tr>
<tr><th>Multimedia</th>
<td>Yes</td>
<td>Customizable</td>
<td>Explosive Eruption</td></tr>
<tr><th>Pages (copywriting)
</th><td>Yes</td>
<td>10-25 (50 total pages maximum)</td>
<td>100$ Each</td></tr>
<tr><th>Pages (image field)
</th><td>Yes</td>
<td>10-25 (50 total pages maximum)</td>
<td> 25$ Each</td></tr>
<tr><th>Pages (other)
</th><td>Yes</td>
<td>10-25 (50 total pages maximum)</td>
<td> 60$ Each</td></tr>
<tr><th>Search Bar</th>
<td>No</td>
<td>0</td>
<td>Explosive Eruption</td></tr>
<tr><th>Security</th>
<td>Yes</td>
<td>Guards all sensitive information</td>
<td>Explosive Eruption</td></tr>
<tr><th>Sign Up Page</th>
<td>Yes</td>
<td>1</td>
<td>Explosive Eruption</td></tr>
<tr><th>Social Login</th>
<td>No</td>
<td>0</td>
<td>Pyroclastic flows and Mudflows</td></tr>
</tr>
<tr><th>High SEO Ranking</th>
<td>Yes</td>
<td>1-time SEO boost</td>
<td>Explosive Eruption</td></tr>
<tr><th>User Database</th>
<td>Yes</td>
<td>1</td>
<td>Explosive Eruption</td></tr>
<tr><th>Username/Password Change</th>
<td>Yes</td>
<td>1</td>
<td>Explosive Eruption</td>
</tr>
<tr><th>User-Posting Form</th>
<td>Yes</td>
<td>1</td>
<td>Pyroclastic flows and Mudflows</td></tr>
</tbody></table>




    </div> 
    <br>
    <br>    
    <br>
    <br>
    <br>
    <br>
    <div class="pricing-item-features">
                <ul class="pricing-item-features-list">
                  <li class="is-checked">Fully Customizable UI*</li>
                  <li class="is-checked">Fully Customizable Backend*</li>
                  <li class="is-checked">Ecommerce*</li>
                  <li>Administration Page Themes</li>
                  <li>Customer Chat Interface</li>
                  
                </ul>
              </div>
    </div>
 
    </div>




    <div class="parallax2">
</div>  

    <div class="parallax4" id = "innovation">
      <h2 class = "opening4ae">Plantinum Tier Business Website</h2><h2 class="caption4ae">Plantinum Tier is best suited for entropreneurs who want to build a small to medium sized business, and want results quickly at relatively low prices. It has a database to handle users, an administrator database</h2></div>  

    <div class="parallax5" id = "difference"><h2 class = "opening5ae">Online Training</h2><h2 class="caption5ae">We will give you all of the tools you will need to succeed, with attentive staff, adaptive instruction, and a wealth of knowledge. Our goal is to train you as well as possible in a short amount of time. To this end, we offer intruction adaptive to the individual (you), and intructors actively teaching rather than passively waiting to help.</h2></div>
    </div>
  </div> 

    
   <footer>


<div class="content-footer">
            <div class="content">
              
                            <ul class="footer-links">
                              <li>
                        <h1 class="titletag">IntelleX</h1>
                              </li>
                                    <li>
                                        <a href="{% url 'about' %}">Company Information</a>
                                    </li>
                                
                                    <li>
                                        <a href="{% url 'commitment' %}">Our Commitment</a>
                                    </li>
                                
                                
                                    <li>
                                        <a href="{% url 'mantenience' %}">Maintenence</a>
                                    </li>
                              
                                
                                    <li>
                                        <a href="{% url 'contact' %}">Contact Us</a>
                                    </li>
                                
                                    <li>
                                        <a href="{% url 'cv-form' %}">Become A Member</a>
                                    </li>
                                
                            </ul>
                 
          </div>
            
            <div class="logo-container">
                <a href="/"><img alt="IntelleX.com" src=" https://www.logomaker.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6khvCBrBZOnh...IwXs1M3EMoAJtliMlgfRj8...8y "></a>

            </div>
    
        </div>




   
  </footer>

  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    
</body>

{% endblock content %}