{% extends 'base.html' %}
{% load static %}

{% block title %} MegaClan〖𐌑𐌂〗{% endblock title %} 

{% block content %}

<head>
  <!--change title tags to django form -->
<link rel="icon" href="{% static 'images/favicon.ico' type='image/ico' %}">
</head>
  
<body>   
  <div class = "bandone1">
<br>
<br>
<br>
<br>
<br>
 <h1 class = "banh1e">Your Ban Appeal has been successfully submitted. MegaClan Administration will look over your ban appeal, and if they deem you worthy of redemption, you will be unbanned and given an invitation (usually within 2-5 days). Until then, your MegaClan Website Account will remain unusable and you will have to make a new one if you are unbanned.</h1>

    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/header1.js' %}"></script>
  </div>
</body>

{% endblock content %}