 {% load static %}
 <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% for BaseView in Favicons %}
      {% if BaseView.faviconpage == 'base.html' %}
        <link rel="shortcut icon" type="image/{{ BaseView.favicontype }}" href="{% static 'css/images/' %}{{ BaseView.faviconlink }}"/>
      {% endif %}
    {% endfor %}
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


  </head>
   {% if user.is_authenticated %}

  <body>
       <header style="z-index: 100; width: 12.2%;">

  <div class="column three mobile-twelve section_header_logo vertical-align-middle">
      {% for BaseView in Logo %}
      {% if BaseView.page == 'base.html' %}
     <a class = "logo" href="{{BaseView.hyperlink}}"><img class = "imageicon"  src="media/{{BaseView.logocover}}" alt = "{{BaseView.alternate}}" width="145vh"
     height="100vh" style="z-index: 100;"></a>
    {% endif %}

      {% endfor %}

       {% for ChatBackgroundView in Logo %}
            {% if ChatBackgroundView.page == 'home.html' %}
                {% if not request.path == '/home.html' %}
         <a class = "logo" href="{{MemberBaseView.hyperlink}}">
             <img class = "imageicon"  src="/media/{{ChatBackgroundView.logocover}}" alt = "{{ChatBackgroundView.alternate}}" width="145vh"
     height="100vh" style="z-index: 30;">
         </a>
                 {% endif %}
         {% endif %}
  {% endfor %}
 </div>


     </header>

<section class="gt_section-77035 gt_animation-zoom-out-left gt_animated" data-name="Header" style="height: auto;"> <div class="gt_header"> <div class="gt_flex gt_logo"> <div class="icon_when_scroll"> <div class="icon_when_scroll_content">  </div> </div> <div class="logo_header">


    <div class = "navbarx">

    <ul>
{% for column in Header %}
  <div class="dropdown">
    <a href="#{{ column.section }}" class="glass">{{ column.text }}</a>
    <div class="dropdown-content">
      {% for row in DropDown %}
        {% if row.row == column.row %}
          {% if row.url == 'http://127.0.0.1:8000/profile' %}
             {% if row.opennew %}
            <a href="{{ profile_url }}" target="_blank">{{ row.text }}</a>
            {% else %}
            <a href="{{ profile_url }}">{{ row.text }}</a>
            {% endif %}
          {% else %}
            {% if row.opennew %}
              <a href="{{ row.url }}" target="_blank">{{ row.text }}</a>
            {% else %}
              <a href="{{ row.url }}">{{ row.text }}</a>
            {% endif %}
          {% endif %}

        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}

    </ul>
    </div>


      </div>

  </div>
<nav class="show">
     <div  onclick="navToggle(this)" class="bell"></div>
     <div onclick="navToggle(this)" class="hamburger">
       <div class="bun"></div>
       <div class="bun"></div>
       <div class="bun"></div>
     </div>

<h2 class="navtext">Quantumism</h2>
    <div class="navItem"><a href="/">Home</a></div>
     <div class="navItem2"><a href="/about/">About Us</a></div>
     <div class="navItem3"><a href="/servers/" target="_blank">Discord Servers</a></div>
     <!--<div class="navItem10"><a href = "/perks/">Member Perks</a></li></div>-->
     <div class="navItem4"><a href="/admin/" target="_blank">Administration</a></div>
     <div class="navItem5"><a href="https://discord.com/channels/813761567304843315/813779502190297108" target="_blank">Quantum Discord</a></div>
     <div class="navItem8"><a href="/rules/">Rules</a></div>
     <div class="navItem9"><a href="/showcase/">Member Area</a></div>
     <div class="navItem11"><a href="/accounts/logout/">Logout</a></div>
<br>
<br>

<div class="metaclass1">
    <a href="https://discord.gg/g43uGbURUz">
         <img alt="Qries" src="../static/css/images/MC.png" width="280" height="150">
      </a>

</div></nav>
    </div>
</section>




    </div>
         </div>
      </div>
    </ul>

</div> </a> </div> </div> </div> </div> </header>

</body>

  {% else %}


  <body>
       <header>

  <div class="column three mobile-twelve section_header_logo vertical-align-middle">
 <a class = "logo" href="/"><img class = "imageicon"  src="https://www.logomaker.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6khv+EqxJLmRfFwXs1M3EMoAJtliUohPZi8...oz " width="145vh"
     height="100vh"></a>
 </div>


     </header>
    <div class = "navbarx">

    <ul>
      {% for column in Header %}
        <div class="dropdown">
          <a href="#{{ column.section }}" class="glass"> {{ column.text }}</a>
          <div class="dropdown-content">
          {% for row in DropDown %}

            {% if row.row == column.row %}

                {% if row.opennew == True %}
                    <a href="{{ row.url }}" target="_blank">{{ row.text }}</a>
                {% else %}
                    <a href="{{ row.url }}">{{ row.text }}</a>
                {% endif %}
            {% endif %}

          {% endfor %}
          </div>
        </div>
      {% endfor %}
        <!--<div class="dropdown2">
        <a href="#leaders" class="glass">
          {% for BaseHomeText201 in BaseHomeTexted201 %}
    {{ BaseHomeText201.text }}
  {% endfor %}</a>
          <div class="dropdown-content">
      <a href="{% url 'showcase:billets'%}">
        {% for BaseDropdown201 in Texts201 %}
    {{ BaseDropdown201.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:about'%}">
        {% for BaseDropdown202 in Texts202 %}
    {{ BaseDropdown202.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:faq'%}">
        {% for BaseDropdown203 in Texts203 %}
    {{ BaseDropdown203.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:staffranks'%}">
        {% for BaseDropdown204 in Texts204 %}
    {{ BaseDropdown204.text }}
  {% endfor %}</a>
      <!--<a href="{% url 'showcase:originalmembers'%}">Original Members</a> --
      <a href="{% url 'showcase:information'%}">
        {% for BaseDropdown205 in Texts205 %}
    {{ BaseDropdown205.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:megacoins' %}">
        {% for BaseDropdown206 in Texts206 %}
    {{ BaseDropdown206.text }}
  {% endfor %}</a>
        </div>
      </div>

        <div class="dropdown3">
        <a href="#innovation" class="glass">
          {% for BaseHomeText301 in BaseHomeTexted301 %}
    {{ BaseHomeText301.text }}
  {% endfor %}</a>
          <div class="dropdown-content">
      <!--<a href="{% url 'showcase:perks'%}">Member Profiles</a>--
      <a href="{% url 'showcase:post_edit'%}">
        {% for BaseDropdown301 in Texts301 %}
    {{ BaseDropdown301.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:newsfeed'%}">
        {% for BaseDropdown302 in Texts302 %}
    {{ BaseDropdown302.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:events'%}">
        {% for BaseDropdown303 in Texts303 %}
    {{ BaseDropdown303.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:voting'%}">
        {% for BaseDropdown304 in Texts304 %}
    {{ BaseDropdown304.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:vote'%}">
        {% for BaseDropdown305 in Texts305 %}
    {{ BaseDropdown305.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:users'%}">
        {% for BaseDropdown306 in Texts306 %}
    {{ BaseDropdown306.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:share'%}">
        {% for BaseDropdown307 in Texts307 %}
    {{ BaseDropdown307.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:perks'%}">
        {% for BaseDropdown308 in Texts308 %}
    {{ BaseDropdown308.text }}
  {% endfor %}</a>

        </div>
      </div>

        <div class="dropdown4">
        <a href="#difference" class="glass">
          {% for BaseHomeText401 in BaseHomeTexted401 %}
    {{ BaseHomeText401.text }}
  {% endfor %}</a>
          <div class="dropdown-content">
       <a href="{% url 'showcase:home'%}">
         {% for BaseDropdown401 in Texts401 %}
    {{ BaseDropdown401.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:rules'%}">
        {% for BaseDropdown402 in Texts402 %}
    {{ BaseDropdown402.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:punishapps'%}">
        {% for BaseDropdown403 in Texts403 %}
    {{ BaseDropdown403.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:banappeals'%}">
        {% for BaseDropdown404 in Texts404 %}
    {{ BaseDropdown404.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:issues'%}">
        {% for BaseDropdown405 in Texts405 %}
    {{ BaseDropdown405.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:support'%}">
        {% for BaseDropdown406 in Texts406 %}
    {{ BaseDropdown406.text }}
  {% endfor %}</a>
        </div>
      </div>

         <div class="dropdown5">
        <a href="#difference" class="glass">
        {% for BaseHomeText501 in BaseHomeTexted501 %}
    {{ BaseHomeText501.text }}
  {% endfor %}</a>
        <div class="dropdown-content">
      <!--<a href="{% url 'showcase:email'%}">Contact Us</a>--
      <a href="{% url 'showcase:tag'%}">
        {% for BaseDropdown501 in Texts501 %}
    {{ BaseDropdown501.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:staff' %}">
        {% for BaseDropdown502 in Texts502 %}
    {{ BaseDropdown502.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:admin' %}" target="_blank">
        {% for BaseDropdown503 in Texts503 %}
    {{ BaseDropdown503.text }}
  {% endfor %}
      </a>
      <a href="{% url 'showcase:staffapplications'%}">
        {% for BaseDropdown504 in Texts504 %}
    {{ BaseDropdown504.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:morecontent'%}">
        {% for BaseDropdown505 in Texts505 %}
    {{ BaseDropdown505.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:contributors' %}">
        {% for BaseDropdown506 in Texts506 %}
    {{ BaseDropdown506.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:donors' %}">
        {% for BaseDropdown507 in Texts507 %}
    {{ BaseDropdown507.text }}
  {% endfor %}</a>
      <a href="{% url 'showcase:lordsmonkey' %}">
        {% for BaseDropdown508 in Texts508 %}
    {{ BaseDropdown508.text }}
  {% endfor %}</a>
         </div>
      </div>


         <div class="dropdown">
        <a href="#difference" class="glass">
          {% for BaseHomeText601 in BaseHomeTexted601 %}
    {{ BaseHomeText601.text }}
  {% endfor %}</a>
        <div class="dropdown-content">

            <!--<a href="{% url 'showcase:boosts'%}">〖𐌑𐌂〗Boosts</a>--
      <a href="{% url 'showcase:whydonate'%}">
        {% for BaseDropdown601 in Texts601 %}
    {{ BaseDropdown601.text }}
  {% endfor %}</a>
      <!--<a href="{% url 'showcase:invite'%}">〖𐌑𐌂〗Invites Leaderboard</a>--
      <a href="{% url 'showcase:donate' %}" target="_blank">
        {% for BaseDropdown602 in Texts602 %}
    {{ BaseDropdown602.text }}
  {% endfor %}
      </a>
      <a href="{% url 'showcase:partners'%}">
        {% for BaseDropdown603 in Texts603 %}
    {{ BaseDropdown603.text }}
  {% endfor %}</a>

         </div>  -->
    </ul>      </div>


      </div>
    </ul>

  </div>

    </div>
         </div>
      </div>
    </ul>




    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/cover.js' %}"></script>

       {% endif %}
    {% block content %}
    {% endblock content %}

<footer>
     <div class = "copyright">
     <p>
       {% for BackgroundImage in BaseCopyrightTextFielded %}
                    {% if BackgroundImage.page == 'index.html' %}
                         <a href="{{BackgroundImage.hyperlink}}" class="gf_product-title gf_gs-text-heading-3" data-bss-pl="active">
                                {{BackgroundImage.copyright}}
                         </a>
                    {% endif %}
    {% endfor %}
     </p>
   </div>

</footer>  </body>
</html>
