 {% load static %}
 <!DOCTYPE html>
<html>

<head>
{% if user.is_staff %}

{% else %}
    <meta http-equiv="refresh" content="0; URL={% url 'showcase:comingsoon' %}">
{% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Blackjack</title>
    <link rel="stylesheet" href="{% static 'css/cheststyle.css' %}">

</head>

<body>
    <div id="user-currency">
        <div>
            <ul>
                <li style="display: flex;">
                    <h2>{{ SentProfile.user.username }}: {{ SentProfile.currency_amount }}
                         {{ Money.name }}
                                                                <!--note: currently gets very currency without filter-->
                        <img src="{{ Money.file.url }}" style="border-radius: 50px; width: 25px; height: 25px; margin-top: 10px;">

                    </h2>
                </li>
            </ul>
        </div>
    </div>


    <div class="layout">
        <h2>Dealer Hand</h2>
        <div class="wrapper">
            <div class="cards" id="dealer">
            </div>
        </div>
        <h2>Player Hand</h2>
        <div class="wrapper">
            <div class="cards" id="player">
            </div>
        </div>
        <div class="wrapper">
            <div class="container" id="button-container">
                <button id="hit">Hit</button>
                <button id="pass">Pass</button>
            </div>
        </div>
        <div class="background" id="notice">
        <div class="notice">
            <p></p>
            <button id="next-hand">Deal Next Hand</button>
        </div>
        </div>
    </div>
<form method="POST" class="post">
    {% csrf_token %}
    {{ wager_form.as_p }}
    <button type="submit">Place Wager</button>
</form>

    <script src="{% static 'css/js/chests.js' %}"></script>
</body>

</html>