
{% load static %}


       {% block content %}
       {% load widget_tweaks %}

<html lang="en">

<head>

  {% block title %}
    {% for PostList in Titles %}
      {% if PostList.page == 'blog.html' %}
    <title>{{ PostList.overtitle }}</title>
      {% endif %}
    {% endfor %}
{% endblock title %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--
    - primary meta tags
  -->
  <meta name="title" content="IntelleX - Personal Blog Website">
  <meta name="description" content="Blog Template By IntelleX">

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

  <!--
    - custom css link
  -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/essaystyle.css' %}">

  <!--
    - preload images
  -->
  <link rel="preload" as="image" href="./assets/images/hero-banner.png">
  <link rel="preload" as="image" href="./assets/images/pattern-2.svg">
  <link rel="preload" as="image" href="./assets/images/pattern-3.svg">
<style>

a.page-link {
    background-color: var(--bg-prussian-blue);
    transition: all var(--transition-1);
    /* other styles... */
}

a.page-link:hover {
    background-color: hsla(199, 89%, 49%, 1); /* change to the desired color */
    transform: scale(1.1) translateY(-10%); /* makes the button 20% larger and moves it up by 20% */
}

.text {
    border: 2px solid silver;
}


</style>
</head>

<body id="top">
    <div class="column three mobile-twelve section_header_logo vertical-align-middle"
        style="position: -webkit-sticky; position: sticky; top: 10px; left: -10px; z-index: 100;">
        {% for PostList in Logo %}
        {% if PostList.page == 'blog.html' %}
        <a class="logo" href="{{PostList.hyperlink}}">
          <img class="imageicon" src="{{PostList.logocover.url}}"
                alt="{{PostList.alternate}}" style="length: {{PostList.length_for_resize}}px; width: {{PostList.width_for_resize}}px;"></a>
        {% endif %}
        {% endfor %}
    </div>

  <!--
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">


      <nav class="navbar" data-navbar>

        <div class="navbar-top">
          <a href="#" class="logo">
            <img src="./assets/images/logo.svg" width="119" height="37" alt="Wren logo">
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link hover-1" data-nav-toggler>Home</a>
          </li>

          <li>
            <a href="#topics" class="navbar-link hover-1" data-nav-toggler>Topics</a>
          </li>

          <li>
            <a href="#featured" class="navbar-link hover-1" data-nav-toggler>Featured Post</a>
          </li>

          <li>
            <a href="#recent" class="navbar-link hover-1" data-nav-toggler>Recent Post</a>
          </li>

          <li>
            <a href="#" class="navbar-link hover-1" data-nav-toggler>Contact</a>
          </li>

        </ul>

        <div class="navbar-bottom">

          <div class="profile-card">
            <img src="./assets/images/author-1.png" width="48" height="48" alt="Steven" class="profile-banner">

            <div>
              <p class="card-title">Hello {{user.username}}!</p>

              <p class="card-subtitle">
                You have 3 new messages
              </p>
            </div>
          </div>

          <ul class="link-list">

            <li>
              <a href="#" class="navbar-bottom-link hover-1">Profile</a>
            </li>

            <li>
              <a href="#" class="navbar-bottom-link hover-1">Articles Saved</a>
            </li>

            <li>
              <a href="#" class="navbar-bottom-link hover-1">Add New Post</a>
            </li>

            <li>
              <a href="#" class="navbar-bottom-link hover-1">My Likes</a>
            </li>

            <li>
              <a href="#" class="navbar-bottom-link hover-1">Account Setting</a>
            </li>

            <li>
              <a href="#" class="navbar-bottom-link hover-1">Sign Out</a>
            </li>

          </ul>

        </div>

        <p class="copyright-text">
          Copyright 2022 © Wren - Personal Blog Template.
          Developed by codewithsadee
        </p>

      </nav>

      <a href="#" class="btn btn-primary">Subscribe</a>

      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

    </div>
  </header>





  <main>
    <article>

      <!--
        - #HERO
      -->

      <section class="hero" id="home" aria-label="home">
        <div class="container">

      <!--pagination change station-->
            <div class="card topic-card" style="display: flex; align-items: center;">
<form method="GET" style="">
    <div class="itemsperpage" style="display: flex; align-items: center;">
    <label for="paginate-by" style="display: flex; align-items: center;">Blog Posts per page:
    <input type="number" name="paginate_by" id="paginate-by" style="background: rgba(255, 255, 255, 0.1); padding-left: 11%; margin-left: 2%;border-radius: 10px; width: 30%;" value="{{ blogpagination.paginator.per_page }}">
    </label>
</div>
    <br>
<button class="button-64" role="button" type="submit" style="background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0)); border-radius: 10px; padding: 5px;">
    <span style="color: white;">Update</span>
</button>
</form>
            </div>

          <div class="hero-content">
{% for PostList in TextFielde %}
            {% if Postlist.page == 'blog.html' %}
            {% if Postlist.section == 1 %}
            <p class="hero-subtitle">Hello Everyone!</p>
            {% endif %}
            {% endif %}
{% endfor %}

            <h1 class="headline headline-1 section-title">

            {% for PostList in TextFielde %}
            {% if Postlist.page == 'blog.html' %}
            {% if Postlist.section == 2 %}
              I am
            {% endif %}
            {% endif %}
            {% endfor %}
            {% for PostList in TextFielde %}
            {% if Postlist.page == 'blog.html' %}
            {% if Postlist.section == 3 %}<span class="span">Andy </span>
            {% endif %}
            {% endif %}
            {% endfor %}
            </h1>


{% for PostList in TextFielde %}
            {% if Postlist.page == 'blog.html' %}
            {% if Postlist.section == 4 %}
            <p class="hero-text">
              I use animation as a third dimension by which to simplify experiences and kuiding thro each and every
              interaction. I’m not adding motion just to spruce things up, but doing it in ways that.
            </p>            {% endif %}
            {% endif %}
{% endfor %}


    <br>
    <br>
    <div class="search" style="height: 50px; border-radius: 20px; flex-direction: row; z-index: 3;">
      <form class="searchbar" action="{% url 'showcase:blogsearch_results' %}" method="get" style="border-radius: 30px; padding: 5px; background-color: rgba(255, 255, 255, 0.1);">
        <input name="q" type="text" placeholder=" 🔍 Search Blog Posts..." style="border-radius: 30px;">
      </form>
      <br>
      <br>
    </div>
              <br>

<form method="POST">
            {{form.errors}}
    {% csrf_token %}


                <div class="input-wrapper">
                    {{ form.email }}



<button class="btn btn-primary" type="submit">
    <span class="span">Subscribe</span>
    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
</button>

            </div>
    <br>
<ul style="display: flex; align-items: center; max-width: 100%;" > <a href="{% url 'showcase:termsandconditions' %}">
    <li style="margin-right: 10px;">I agree to the Terms & Conditions:</a></li>
    <li>{{ form.confirmation }}</li>
</ul>
</form>



          </div>

          <div class="hero-banner">
{% for PostList in Image %}
{% if PostList.page == "blog.html" %}
              {% if PostList.image_position == 1 %}
            <img src="{{PostList.image.url}}" width="327" height="490" alt="{{PostList.alternate}}" class="w-100">
              {% endif %}
              {% endif %}
{% endfor %}

{% for PostList in Image %}
{% if PostList.page == "blog.html" %}
              {% if PostList.image_position == 2 %}
            <img src="{{PostList.image.url}}" width="27" height="26" alt="{{PostList.alternate}}" class="shape shape-1">
              {% endif %}
              {% endif %}
{% endfor %}

{% for PostList in Image %}
{% if PostList.page == "blog.html" %}
              {% if PostList.image_position == 3 %}
            <img src="{{PostList.image.url}}" width="27" height="26" alt="{{PostList.alternate}}" class="shape shape-2">
              {% endif %}
              {% endif %}
{% endfor %}
          </div>


        </div>
      </section>





      <!--
        - #TOPICS
      -->

      <section class="topics" id="topics" aria-labelledby="topic-label">
        <div class="container">

          <div class="card topic-card">

            <div class="card-content">
            {% for PostList in TextFielde %}
            {% if Postlist.page == 'blog.html' %}
            {% if Postlist.section == 5 %}
              <h2 class="headline headline-2 section-title card-title" id="topic-label">
                {{Postlist.text}}
              </h2>
              {% endif %}
            {% endif %}
            {% endfor %}

              <p class="card-text">
                {% for PostList in TextFielde %}
            {% if Postlist.page == 'blog.html' %}
            {% if Postlist.section == 6 %}
                {{Postlist.text}}

              {% endif %}
            {% endif %}
            {% endfor %}
                Don't miss out on the latest news about Travel tips, Hotels review, Food guide...
              </p>

              <div class="btn-group">
                <button class="btn-icon" aria-label="previous" data-slider-prev>
                  <ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
                </button>

                <button class="btn-icon" aria-label="next" data-slider-next>
                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </button>
              </div>

            </div>

            <div class="slider" data-slider>
              <ul class="slider-list" data-slider-container>

                <li class="slider-item">
                  <a href="#" class="slider-card">


                      {% for PostList in BlogHeader %}
                      {% if PostList.position == 1 %}

                    <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                      <img src="{{PostList.image.url}}" width="507" height="618" loading="lazy" alt="{{ PostList.category }}"
                        class="img-cover">
                    </figure>


                    <div class="slider-content">
                      <!--consider applying the filter based on the category-->
        <span class="slider-title">{{ PostList.category }}</span>
                      {% if blog_count == 1 %}
                      <p class="slider-subtitle">{{blog_count}} Article</p>
                      {% else %}
                      <p class="slider-subtitle">{{blog_count}} Articles</p>
                      {% endif %}

                      {% endif %}
                      {% endfor %}
                    </div>

                  </a>
                </li>

                <li class="slider-item">
                  <a href="#" class="slider-card">

                     {% for PostList in BlogHeader %}
                      {% if PostList.position == 2 %}

                    <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                      <img src="{{PostList.image.url}}" width="507" height="618" loading="lazy" alt="{{ PostList.category }}"
                        class="img-cover">
                    </figure>

                    <div class="slider-content">
                      <!--consider applying the filter based on the category-->
        <span class="slider-title">{{ PostList.category }}</span>
                      {% if blog_count == 1 %}
                      <p class="slider-subtitle">{{blog_count}} Article</p>
                      {% else %}
                      <p class="slider-subtitle">{{blog_count}} Articles</p>
                      {% endif %}

                      {% endif %}
                      {% endfor %}
                    </div>

                  </a>
                </li>

                <li class="slider-item">
                  <a href="#" class="slider-card">
                      {% for PostList in BlogHeader %}
                      {% if PostList.position == 3 %}
                    <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                      <img src="{{PostList.image.url}}" width="507" height="618" loading="lazy" alt="{{ PostList.category }}"
                        class="img-cover">
                    </figure>

                    <div class="slider-content">
                      <!--consider applying the filter based on the category-->
        <span class="slider-title">{{ PostList.category }}</span>

                      {% if blog_count == 1 %}
                      <p class="slider-subtitle">{{blog_count}} Article</p>
                      {% else %}
                      <p class="slider-subtitle">{{blog_count}} Articles</p>
                      {% endif %}
                      {% endif %}
                      {% endfor %}

                    </div>

                  </a>
                </li>

                <li class="slider-item">
                  <a href="#" class="slider-card">
                      {% for PostList in BlogHeader %}
                      {% if PostList.position == 4 %}

                    <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                      <img src="{{PostList.image.url}}" width="507" height="618" loading="lazy" alt="{{PostList.category}}"
                        class="img-cover">
                    </figure>

                    <div class="slider-content">
                      <span class="slider-title">{{PostList.category}}</span>

                       {% if blog_count == 1 %}
                      <p class="slider-subtitle">{{blog_count}} Article</p>
                      {% else %}
                      <p class="slider-subtitle">{{blog_count}} Articles</p>
                      {% endif %}
                      {% endif %}
                      {% endfor %}

                    </div>

                  </a>
                </li>

                <li class="slider-item">
                  <a href="#" class="slider-card">
                      {% for PostList in BlogHeader %}
                      {% if PostList.position == 5 %}

                    <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                      <img src="{{PostList.image.url}}" width="507" height="618" loading="lazy" alt="{{PostList.category}}"
                        class="img-cover">
                    </figure>

                    <div class="slider-content">
                      <span class="slider-title">{{PostList.category}}</span>

                       {% if blog_count == 1 %}
                      <p class="slider-subtitle">{{blog_count}} Article</p>
                      {% else %}
                      <p class="slider-subtitle">{{blog_count}} Articles</p>
                      {% endif %}
                      {% endif %}
                      {% endfor %}

                    </div>

                  </a>
                </li>

              </ul>
            </div>

          </div>

        </div>
      </section>





      <!--
        - #FEATURED POST
      -->

      <section class="section feature" aria-label="feature" id="featured">
        <div class="container">

          <h2 class="headline headline-2 section-title">
            <span class="span">Editor's Choice</span>
          </h2>

          <p class="section-text">
            Featured and highly rated articles
          </p>

          <ul class="feature-list">

        {% if BlogPosts %}
            {% for blog_post in BlogPosts %}
                    {% if blog_post.type == "EC"%}

            <li>
              <div class="card feature-card">

                <figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
                    <img src="{{blog_post.image.url}}" width="1602" height="903" loading="lazy"
                    alt="{{blog_post.category}}" class="img-cover">                </figure>

                <div class="card-content">

                  <div class="card-wrapper">
                    <div class="card-tag">
                      <a href="#" class="span hover-2">#Design</a>

                      <a href="#" class="span hover-2">#Movie</a>
                    </div>

                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">{{blog_post.minute_read}}-minute read</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="{% url 'showcase:post_detail' blog_post.slug  %}" class="card-title hover-2">
                      {{blog_post.content|slice:":200" }}...
                    </a>
                  </h3>

                  <div class="card-wrapper">

                    <div class="profile-card">
                       {% if blog_post.author_profile_picture_url %}
                        <a href="{{ blog_post.author_profile_url }}">
                            <img src="{{ blog_post.author_profile_picture_url }}" width="50px" height="50px" loading="lazy" alt="Profile Picture"
                        class="profile-banner">
      </a>

{% endif %}

                      <div>
                        <p class="card-title">{{ blog_post.author }}</p>

                        <p class="card-subtitle">Created on: {{ blog_post.created_on }} </p>
                        <p class="card-subtitle">Updated on: {{ blog_post.updated_on }} </p>
                      </div>
                    </div>

                    <a href="{% url 'showcase:post_detail' blog_post.slug  %}" class="card-btn">Read more</a>

                  </div>

                </div>

              </div>
            </li>

                {% endif %}
            {% endfor %}
        {% else %}
            <p>No blog posts found.</p>
        {% endif %}


          </ul>

          <a href="#" class="btn btn-secondary">
            <span class="span">Show More Posts</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a>

        </div>


      </section>





      <!--
        - #POPULAR TAGS
      -->

      <section class="tags" aria-labelledby="tag-label">
        <div class="container">

          <h2 class="headline headline-2 section-title" id="tag-label">
            <span class="span">Popular Tags</span>
          </h2>

          <p class="section-text">
            Most searched keywords
          </p>

          <ul class="grid-list">
{% for PostList in BlogFilter %}
            <li>
              <button class="card tag-btn">
                  {% if PostList.logo.url %}
               <a class="logo" href="{{PostList.hyperlink}}">
          <img class="imageicon" src="{{PostList.logocover.url}}"
                alt="{{PostList.alternate}}" style="length: {{PostList.length_for_resize}}px; width: {{PostList.width_for_resize}}px;"></a>
         {% else %}
                  <h5>no image</h5>
                  {% endif %}
                <p class="btn-text">{{PostList.blog_filter}}</p>
              </button>
            </li>
{% endfor %}

          </ul>

        </div>
      </section>





      <!--
        - #RECENT POST
      -->

      <section class="section recent-post" id="recent" aria-labelledby="recent-label">
        <div class="container">

          <div class="post-main">

            <h2 class="headline headline-2 section-title">
              <span class="span">Recent Posts</span>
            </h2>

            <p class="section-text">
              Do not miss the latest trends!
            </p>

            <ul class="grid-list">

                    {% for blog_post in blogpagination %}
              <li>
                <div class="recent-post-card">


                    {% if blog_post.image %}
                  <figure class="card-banner img-holder" style="--width: 271; --height: 258;">
                      <img src="{{blog_post.image.url}}" width="1602" height="903" loading="lazy"
                    alt="{{blog_post.category}}" class="img-cover">
                  </figure>
                    {% endif %}

                  <div class="card-content">

                    <a href="#" class="card-badge">{{blog_post.category}}</a>

                    <h3 class="headline headline-3 card-title">
                      <a href="#" class="link hover-2">{{blog_post.title}}</a>
                    </h3>

                    <p class="card-text">
                      {{blog_post.content}}
                    </p>

                    <div class="card-wrapper">
                      <div class="card-tag">
                        <a href="#" class="span hover-2">#{{blog_post.filters}}</a>

                      </div>

                      <div class="wrapper">
                        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                        <span class="span">{{blog_post.minute_read}}-minute read</span>

                <a class="like" href="#" data-slug="{{blog_post.slug}}">👍</a> <span id="like-count-{{blog_post.slug}}">{{blog_post.likes.count}}</span>
<a class="dislike" href="#" data-slug="{{blog_post.slug}}">👎</a> <span id="dislike-count-{{blog_post.slug}}">{{blog_post.dislikes.count}}</span>


                          <div class="profile-card">
                       {% if blog_post.author_profile_picture_url %}
                        <a href="{{ blog_post.author_profile_url }}">
                            <img src="{{ blog_post.author_profile_picture_url }}" width="50px" height="50px" loading="lazy" alt="Profile Picture"
                        class="profile-banner">
      </a>

{% endif %}

                      </div>
                      </div>


                    </div>

                  </div>

                </div>
              </li>
{% endfor %}
            </ul>

            <nav aria-label="pagination" class="pagination">

<div class="d-flex justify-content-center wow fadeIn">
  <ul class="pagination pg-blue">
   <li class="page-item {% if not blogpagination.has_previous %}disabled{% endif %}">
   {% if blogpagination.has_previous %}
    <a class="page-link" style="
    color: var(--text-white); font-weight: var(--weight-bold); line-height: 1;
    width: 35px; height: 35px; display: grid; place-items: center; border-radius: var(--radius-circle);
    transition: var(--transition-1);" href="?page={{ blogpagination.previous_page_number }}&paginate_by={{ blogpagination.paginator.per_page }}" aria-label="Previous">
        <ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
        <!--<span class="sr-only">Previous</span>-->
    </a>
{% endif %}

</li>

                <!-- Page numbers -->
{% for page in blogpagination.paginator.page_range %}
    <li class="page-item {% if page == blogpagination.number %}active{% endif %}">
        <a class="page-link" class="pagination-btn" style="
    color: var(--text-white); font-weight: var(--weight-bold); line-height: 1;
    width: 35px; height: 35px; display: grid; place-items: center; border-radius: var(--radius-circle);
    transition: var(--transition-1);
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;" href="?page={{ page }}&paginate_by={{ blogpagination.paginator.per_page }}">{{ page }}</a>
    </li>
{% endfor %}

<!-- Arrow right -->
<li class="page-item {% if not blogpagination.has_next %}disabled{% endif %}">
    {% if blogpagination.has_next %}
    <a class="page-link" style="
    color: var(--text-white); font-weight: var(--weight-bold); line-height: 1;
    width: 35px; height: 35px; display: grid; place-items: center; border-radius: var(--radius-circle);
    transition: var(--transition-1);" href="?page={{ blogpagination.next_page_number }}&paginate_by={{ blogpagination.paginator.per_page }}" aria-label="Next">
        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
        <!--<span class="sr-only">Next</span>-->
    </a>
{% endif %}

</li>

  </ul>
</div>

            </nav>

          </div>

          <div class="post-aside grid-list">

            <div class="card aside-card">

              <h3 class="headline headline-2 aside-title">
                <span class="span">Popular Posts</span>
              </h3>

              <ul class="popular-list">

            {% for blog_post in PopularBlogOrder %}
                <li>
                  <div class="popular-card">

                    <figure class="card-banner img-holder" style="--width: 64; --height: 64;">
                      <img src="{{blog_post.image.url}}" width="64" height="64" loading="lazy"
                        alt="{{blog_post.title}}" class="img-cover">
                    </figure>

                    <div class="card-content">

                      <h4 class="headline headline-4 card-title">
                        <a href="#" class="link hover-2">{{blog_post.title}}</a>
                      </h4>

                      <div class="warpper">
                        <p class="card-subtitle">{{blog_post.minute_read}} minute read</p>

                        <time class="publish-date" datetime="2022-04-15">{{blog_post.created_on}}</time>
                      </div>

                    </div>

                  </div>
                </li>
{% endfor %}

              </ul>

            </div>

            <div class="card aside-card">

              <h3 class="headline headline-2 aside-title">
                <span class="span">Last Comment</span>
              </h3>

              <ul class="comment-list">

                      {% for comments in Comments %}
                <li>
                  <div class="comment-card">

                    <blockquote class="card-text">
                        "{{comments.body}}"
                    </blockquote>

                       {% if comments.author_profile_picture_url %}

                          <a href="{{comments.author_profile_url}}">
                    <div class="profile-card">
                      <figure class="profile-banner img-holder">
                        <img src="{{comments.author_profile_picture_url }}" width="32" height="32" loading="lazy" alt="{{Comments.name}}">

                      </figure>

                      <div>
                        <p class="card-title">{{comments.name}}</p>
                          {% else %}
                           <div class="profile-card">
                      <figure class="profile-banner img-holder">
                          <a href="{{comments.author_profile_url}}">
                        <img src="" width="32" height="32" loading="lazy" alt="{{Comments.name}}">
                      </a>
                      </figure>

                      <div>
                          <a href="{{comments.author_profile_url}}">
                        <p class="card-title">{{comments.name}}</p>
                          </a>
                          {% endif %}

                        <time class="card-date" datetime="2022-04-15">{{comments.created_on}}</time>
                      </div>
                    </div>

                  </div>

                </li>

                      {% endfor %}



              </ul>

            </div>

            <div class="card aside-card insta-card">

                 <div class="column three mobile-twelve section_header_logo vertical-align-middle"
        style="">
        {% for PostList in Logo %}
        {% if PostList.page == 'blog.html' %}

        <a class="logo" href="{{PostList.hyperlink}}">
          <img class="imageicon" src="{{PostList.logocover.url}}"
                alt="{{PostList.alternate}}" style="length: {{PostList.length_for_resize}}px; width: {{PostList.width_for_resize}}px;"></a>
        {% endif %}
        {% endfor %}
    </div>

              <p class="card-text">
                Follow Us On Social Media!
              </p>

              <ul class="insta-list">
                {% for PostList in Social %}
                  {% if PostList.page == 'blog.html' %}
                <li>
                  <a href="{{PostList.hyperlink}}" target="_blank" class="insta-post img-holder" style="--width: 276; --height: 277;">
                      {% if image %}
                    <img src="{{PostList.image.url}}" width="276" height="277" loading="lazy" alt="{{PostList.social}}"
                         {% endif %}
                      class="img-cover">
                  </a>
                </li>
                  {% endif %}
                  {% endfor %}


              </ul>

            </div>

          </div>

        </div>
      </section>

    </article>
  </main>





  <!--
    - #FOOTER
  -->

  <footer>
    <div class="container">

      <div class="card footer">

        <div class="section footer-top">

          <div class="footer-brand">

        {% for PostList in Logo %}
        {% if PostList.page == "blog.html" %}
        <a class="logo" href="{{PostList.hyperlink}}">
          <img class="imageicon" src="{{PostList.logocover.url}}"
                alt="{{PostList.alternate}}" style="length: {{PostList.length_for_resize}}px; width: {{PostList.width_for_resize}}px;"></a>

        {% endif %}
        {% endfor %}



        {% for PostList in TextFielde %}

            {% if Postlist.section == 7 %}
            <p class="footer-text">
                {{Postlist.text}}
            </p>
            {% endif %}
        {% endfor %}
            </p>

            <p class="footer-list-title">Address</p>

            <address class="footer-text address">
              123 Main Street <br>
              New York, NY 10001
            </address>

          </div>

          <div class="footer-list">

            <p class="footer-list-title">Categories</p>

            <ul>

              <li>
                <a href="#" class="footer-link hover-2">Action</a>
              </li>

              <li>
                <a href="#" class="footer-link hover-2">Business</a>
              </li>

              <li>
                <a href="#" class="footer-link hover-2">Adventure</a>
              </li>

              <li>
                <a href="#" class="footer-link hover-2">Canada</a>
              </li>

              <li>
                <a href="#" class="footer-link hover-2">America</a>
              </li>

              <li>
                <a href="#" class="footer-link hover-2">Curiosity</a>
              </li>

              <li>
                <a href="#" class="footer-link hover-2">Animal</a>
              </li>

              <li>
                <a href="#" class="footer-link hover-2">Dental</a>
              </li>

              <li>
                <a href="#" class="footer-link hover-2">Biology</a>
              </li>

              <li>
                <a href="#" class="footer-link hover-2">Design</a>
              </li>

              <li>
                <a href="#" class="footer-link hover-2">Breakfast</a>
              </li>

              <li>
                <a href="#" class="footer-link hover-2">Dessert</a>
              </li>

            </ul>

          </div>

          <div class="footer-list">

            <p class="footer-list-title">Newsletter</p>

            <p class="footer-text">
              Sign up to be first to receive the latest stories inspiring us, case studies, and industry news.
            </p>





        <form method="POST">
            {{form.errors}}
    {% csrf_token %}
            <div class="input-wrapper" style="padding: 12px; padding-inline-start: 20px;
            border-block-end: 1px solid var(--text-wild-blue-yonder); font-size: var(--fontSize-6);}">
                {{ form.email }}
                <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
            </div>

            <div class="input-wrapper" style="">
                <a href="{% url 'showcase:termsandconditions' %}">
                I agree to the Terms & Conditions: {{ form.confirmation }}
                </a>
            </div>


<button class="btn btn-primary" type="submit">
    <span class="span">Subscribe</span>
    <ion-icon name="arrow-forward" aria-hidden="true" role="img" class="md hydrated"></ion-icon>
</button>


</form>


            </a>

          </div>

        </div>

        <div class="footer-bottom">

          <p class="copyright">
            &copy; Developed by <a href="#" class="copyright-link">IntelleX</a>
          </p>

          <ul class="social-list">
                {% for PostList in Social %}
                  {% if PostList.page == 'blog.html' %}
                <li>
                  <a href="{{PostList.hyperlink}}" target="_blank" class="insta-post img-holder" style="--width: 50; --height: 50;">
                      {% if PostList.image %}
                    <img src="{{PostList.image.url}}" width="50" height="50" loading="lazy" alt="{{PostList.social}}"
                      class="img-cover">
                      {% else %}

        <li class="social-icon__item"><a class="social-icon__link" href="{{PostList.hyperlink}}">

            <ion-icon style="width:32px; height:32px;" name="{{PostList.social}}"></ion-icon>

          </a></li>
                         {% endif %}
                  </a>
                </li>
                  {% endif %}
                  {% endfor %}


              </ul>
          </ul>

        </div>

      </div>

    </div>
  </footer>





  <!--
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
  </a>





  <!--
    - custom js link
  -->

  <!--
    - ionicon link
  -->
<script>
    $(document).ready(function() {
    $('.like, .dislike').click(function(e) {
        e.preventDefault();
        var slug = $(this).data('slug');
        var action = $(this).hasClass('like') ? '1' : '2';
        $.ajax({
            type: "POST",
            url: "/blogpost-like/" + slug + "/preference/" + action + "/",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                $('#like-count-' + slug).text(data.likes);
                $('#dislike-count-' + slug).text(data.dislikes);
            }
        });
    });
});

</script>

   <script src="{% static 'css/js/featuredproductscript.js' %}"></script>
   <script src="{% static 'css/js.featuredproductscript2.js' %}"></script>
   <script src="{% static 'css/js.darkmode.js' %}"></script>
   <script src="{% static 'css/js/navbar.js' %}"></script>
   <script src="{% static 'css/js/scroll.js' %}"></script>
   <script src="{% static 'css/js/cover.js' %}"></script>
   <script src="{% static 'css/js/autochat.js' %}"></script>
   <script src="{% static 'css/js/essayscript.js' %}"></script>
   <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
   <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>


</body>

</html>


{% endblock content %}



