
{% load static %}
<html>

    <head>
       <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'css/blogstyle.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/blogstyle.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.blog.css' %}">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />-->
       <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmostFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />-->


    </head>

    <body>
 <header>

  <!--<div class="column three mobile-twelve section_header_logo vertical-align-middle">
 <a class = "logo" href="/"><img class = "imageicon"  src="https://www.logomaker.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6khv+EqxJLmRfFwXs1M3EMoAJtliUohPZi8...oz " width="145vh"
     height="80vh"></a>
 </div>-->


     </header>

    <div class = "navbarx" style="margin-bottom: 20%;">

    <ul>

{% for column in Header %}
  <div class="dropdown">
    <a href="#{{ column.section }}" class="glass">{{ column.text }}</a>
    <div class="dropdown-content">
      {% for row in DropDown %}
        {% if row.row == column.row %}
          {% if row.url == 'http://127.0.0.1:8000/profile' %}
             {% if row.opennew %}
            <a href="{{ profile_url }} " target="_blank">{{ row.text }}</a>
            {% else %}
            <a href="{{ profile_url }}">{{ row.text }}</a>
            {% endif %}
          {% else %}
            {% if row.opennew %}
              <a href="{{ row.url }}" target="_blank">{{ row.text }}</a>
            {% else %}
              <a href="{{ row.url }}">{{ row.text }}</a>
            {% endif %}
          {% endif %}

        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}
    </ul>



<nav class="show">
     <div  onclick="navToggle(this)" class="bell"></div>
     <div onclick="navToggle(this)" class="hamburger">
       <div class="bun"></div>
       <div class="bun"></div>
       <div class="bun"></div>
     </div>

{% if FeaturedNavigation %}
    {% for BlogBaseView in FeaturedNavigation %}
    {% if BlogBaseView.position == 1 %}
    <h2 class="navtext">{{BlogBaseView.default_header}}</h2>
    {% endif %}
    {% if BlogBaseView.text %}

            {% if BlogBaseView.url == 'http://127.0.0.1:8000/profile' %}
              {% if BlogBaseView.opennew %}
                <div class="navItem10" style="justify-content: center;">
                  <a href="{{profile_url}}" target="_blank">{{BlogBaseView.text}}</a>
                </div>
              {% else %}
                <div class="navItem10" style="justify-content: center;">
                  <a href="{{profile_url}}">{{BlogBaseView.text}}</a>
                </div>
              {% endif %}
            {% else %}
              {% if BlogBaseView.opennew %}
                <div class="navItem10" style="justify-content: center;">
                  <a href="{{BlogBaseView.url}}" target="_blank">{{BlogBaseView.text}}</a>
                </div>
              {% else %}
                <div class="navItem10" style="justify-content: center;">
                  <a href="{{BlogBaseView.url}}">{{BlogBaseView.text}}</a>
                </div>
              {% endif %}
            {% endif %}

    {% endif %}
    {% if BlogBaseView.image %}
<div class="metaclass1e" style="padding-top: 10%; font-size: 10px; text-align: left;
    justify-content: left;
    object-position: right;">
    <a href="{{BlogBaseView.url}}">
         <img src="{{BlogBaseView.image.url}}" width="150px" height="150px" style="border-radius: 50px;" alt="{{BlogBaseView.url}}">
      </a>
</div>

    {% endif %}

    {% endfor %}
    {% else %}

<h2 class="navtext">Accomfort</h2>
    <div class="navItem"><a href="/">Home</a></div>
     <div class="navItem2"><a href="/about/">About Us</a></div>
     <div class="navItem3"><a href="/home/" target="_blank">Community</a></div>
     <!--<div class="navItem10"><a href = "/perks/">Member Perks</a></li></div>-->
     <div class="navItem4"><a href="/admin/" target="_blank">Administration</a></div>
     <div class="navItem8"><a href="/ehome/">Store</a></div>
     <div class="navItem11"><a href="/accounts/logout/">Logout</a></div>
<br>
<br>

<div class="metaclass1">
    <a href="https://discord.gg/g43uGbURUz">
         <img alt="Qries" src="../static/css/images/MC.png" width="280" height="150">
      </a>

</div>
</nav>
    </div>
    {% endif %}


    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js/darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/blogscript.js' %}"></script>
    <script src="{% static 'css/js/blogscript.min.js' %}"></script>




        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->





<footer>
     <div class = "copyright">
     <p>
       {% for BackgroundImage in BaseCopyrightTextFielded %}
                    {% if BackgroundImage.page == 'index.html' %}
                         <a href="{{BackgroundImage.hyperlink}}" class="gf_product-title gf_gs-text-heading-3" data-bss-pl="active">
                                {{BackgroundImage.copyright}}
                         </a>
                    {% endif %}
    {% endfor %}
     </p>
   </div>

  </footer>
    </body>
</html>
