{% extends 'ebase.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% block logos %}
    {% for EBaseView in Logos %}
    {% if EBaseView.page == 'checkout.html' %}
        <a class="logo" href="{{ EBaseView.hyperlink }}">
            <img class="imageicon" src="media/{{ EBaseView.logocover }}" alt="{{ EBaseView.alternate }}"
                 width="145vh" height="100vh" style="z-index: 100;">
        </a>
    {% endif %}
    {% endfor %}
{% endblock %}

  <main >
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center" style="color: white;">Checkout</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">

            <form method="POST" class="card-body"  action="{% url 'showcase:checkout' %}">
              {% csrf_token %}
              {{ form.non_field_errors }}

              <h3>Shipping Address</h3>

              <div class='hideable_shipping_form'>

                <div class="md-form mb-5">
                  <!--find proper syntaxing for userprofile.shipping_address1-->
                  <input type='text' placeholder='Address (example: 1234 Main St)' id='shipping_address' name='shipping_address' class='form-control' />
                  <!--<label for="shipping_address" class="">Address</label>-->
                </div>

                <div class="md-form mb-5">
                  <input type='text' placeholder='Address 2 (optional)' id='shipping_address2' name='shipping_address2' class='form-control' />
                  <!--<label for="shipping_address2" class="">Address 2 (optional)</label>-->
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <label for="country">Country</label>
                    {{ form.shipping_country }}
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="shipping_zip">Zip</label>
                    <input type='text' placeholder='Zip code' id='shipping_zip' name='shipping_zip' class='form-control' />
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>
                </div>

                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="same_billing_address" id="same_billing_address">
                  <label class="custom-control-label" for="same_billing_address">My billing address is the same as my shipping address</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="set_default_shipping" id="set_default_shipping">
                  <label class="custom-control-label" for="set_default_shipping">Save as default shipping address</label>
                </div>

              </div>

              {% if default_shipping_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="use_default_shipping" id="use_default_shipping">
                <label class="custom-control-label" for="use_default_shipping">Use default shipping address: {{ default_shipping_address.street_address|truncatechars:10 }}</label>
              </div>
              {% endif %}

              <hr>

              <h3>Billing Address</h3>

              <div class='hideable_billing_form'>
                <div class="md-form mb-5">
                  <input type='text' placeholder='Address (example: 1234 Main St)' id='billing_address' name='billing_address' class='form-control' />
                  <!--<label for="billing_address" class="">Address</label>-->
                </div>

                <div class="md-form mb-5">
                  <input type='text' placeholder='Address 2 (optional)' id='billing_address2' name='billing_address2' class='form-control' />
                  <!--<label for="billing_address2" class="">Address 2 (optional)</label>-->
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-12 mb-4">
                    <label for="country">Country</label>
                    {{ form.billing_country }}
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 mb-4">
                    <label for="billing_zip">Zip</label>
                    <input type='text' placeholder='Zip code' id='billing_zip' name='billing_zip' class='form-control' />
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>

                </div>

                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="set_default_billing" id="set_default_billing">
                  <label class="custom-control-label" for="set_default_billing">Save as default billing address</label>
                </div>

              </div>

              {% if default_billing_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="use_default_billing" id="use_default_billing">
                <label class="custom-control-label" for="use_default_billing">Use default billing address: {{ default_billing_address.street_address|truncatechars:10 }}</label>
              </div>
              {% endif %}
              <hr>

             <!-- <h3>Payment Option</h3>-->


    <!-- Set up a container element for the button -->
    <!--<div id="paypal-button-container"></div>
-->
    <!-- Include the PayPal JavaScript SDK -->
<!--    <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>-->


<!--    &lt;!&ndash; Set up a container element for the button &ndash;&gt;-->
<!--    <div id="paypal-button-container"></div>-->

<!--    &lt;!&ndash; Include the PayPal JavaScript SDK &ndash;&gt;-->
<!--    <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>-->

   <!-- <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },

            // Call your server to set up the transaction
            createOrder: function(data, actions) {
                return fetch('/demo/checkout/api/paypal/order/create/', {
                    method: 'post'
                }).then(function(res) {
                    return res.json();
                }).then(function(orderData) {
                    return orderData.id;
                });
            },

            // Call your server to finalize the transaction
            onApprove: function(data, actions) {
                return fetch('/demo/checkout/api/paypal/order/' + data.orderID + '/capture/', {
                    method: 'post'
                }).then(function(res) {
                    return res.json();
                }).then(function(orderData) {
                    // Three cases to handle:
                    //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                    //   (2) Other non-recoverable errors -> Show a failure message
                    //   (3) Successful transaction -> Show confirmation or thank you

                    // This example reads a v2/checkout/orders capture response, propagated from the server
                    // You could use a different API or structure for your 'orderData'
                    var errorDetail = Array.isArray(orderData.details) && orderData.details[0];

                    if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                        return actions.restart(); // Recoverable state, per:
                        // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
                    }

                    if (errorDetail) {
                        var msg = 'Sorry, your transaction could not be processed.';
                        if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                        if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                        return alert(msg); // Show a failure message (try to avoid alerts in production environments)
                    }

                    // Successful capture! For demo purposes:
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                    var transaction = orderData.purchase_units[0].payments.captures[0];
                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                    // Replace the above to show a success message within this page, e.g.
                    // const element = document.getElementById('paypal-button-container');
                    // element.innerHTML = '';
                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    // Or go to another URL:  actions.redirect('thank_you.html');
                });
            }

        }).render('#paypal-button-container');
    </script>
              -->


    {% if not form.payment_option.is_hidden %}
    <h3>Payment Options</h3>
    <div class="d-block my-3">
        {% for value, name in form.fields.payment_option.choices %}
        <div class="custom-control custom-radio">
            <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <hr class="mb-4">
    <button type="submit" class="btn btn-primary btn-lg btn-block" >Continue To Payment</button>

  <script>
      document.getElementById('checkout-form').onsubmit = function() {
        const selectedOption = document.querySelector('input[name="payment_option"]:checked');
        if (selectedOption) {
            const paymentOption = selectedOption.value;
            // Set the action based on selected payment option
            if (paymentOption === 'stripe') {
                this.action = "{% url 'showcase:payment' payment_option='stripe' %}";
            } else if (paymentOption === 'paypal') {
                this.action = "{% url 'showcase:payment' payment_option='paypal' %}";
            } else if (paymentOption === 'card') {
                this.action = "{% url 'showcase:payment' payment_option='card' %}";
            }
        }
    };

    function submitPaymentForm() {
      const selectedOption = document.querySelector('input[name="payment_option"]:checked');
      if (selectedOption) {
        const paymentOption = selectedOption.value;
        const form = document.getElementById('payment-form');
        if (form) {
          form.action = `/payment/${paymentOption}/`;
          form.submit();
        } else {
          console.error('Form with id "payment-form" not found.');
        }
      } else {
        alert('Please select a payment option.');
      }
    }
  </script>
              <!--<button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>-->

            </form>

          </div>

        </div>

        <div class="col-md-4 mb-4">
          {% include "order_snippet.html" %}
        </div>

      </div>

    </div>
  </main>

{% endblock content %}

{% block extra_scripts %}
<script>
var hideable_shipping_form = $('.hideable_shipping_form');
var hideable_billing_form = $('.hideable_billing_form');

var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
var use_default_billing = document.querySelector("input[name=use_default_billing]");

use_default_shipping.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide();
  } else {
    hideable_shipping_form.show();
  }
})

use_default_billing.addEventListener('change', function() {
  if (this.checked) {
    hideable_billing_form.hide();
  } else {
    hideable_billing_form.show();
  }
})

</script>
{% endblock extra_scripts %}


