
{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% for ConvertBackgroundImage in Titles %}
      {% if ConvertBackgroundImage.page == 'index.html' %}
         {{ ConvertBackgroundImage.overtitle }}
      {% endif %}
  {% endfor %}
{% endblock title %}

{% block content %}

{% load guest_user %}

{% include "socialaccount/snippets/provider_list.html" with process=user|is_guest_user|yesno:"connect,login" %}



<head>
  <!--change title tags to django form -->
        <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}"/>
      {% for ConvertBackgroundImage in Favicons %}
      {% if ConvertBackgroundImage.faviconpage == 'index.html' %}
        <link rel="{{ConvertBackgroundImage.faviconrelationship}}" type="{{ConvertBackgroundImage.favicontype}}" href="{{ConvertBackgroundImage.faviconlink}}">
        <link rel="{{ConvertBackgroundImage.faviconrelationship}}" sizes="{{ConvertBackgroundImage.faviconsize}}" href="/{{ConvertBackgroundImage.FaviconLink}}">
<link rel="{{ConvertBackgroundImage.faviconrelationship}}" type="image/{Convert{ConvertBackgroundImage.FaviconType}}" sizes="{{ConvertBackgroundImage.faviconsize}}" href="../{{ConvertBackgroundImage.FaviconLink}}">
<link rel="{{ConvertBackgroundImage.faviconrelationship}}" type="../{{ConvertBackgroundImage.FaviconType}}" sizes="{{ConvertBackgroundImage.faviconsize}}" href="/{{ConvertBackgroundImage.FaviconLink}}">
<link rel="{{ConvertBackgroundImage.FaviconType}}" href="/{{ConvertBackgroundImage.FaviconLink}}">

      {% endif %}
    {% endfor %}
</head>

<body>

  <div id="overlay">
    <img src = "76.gif">
    </div>


    <!--<div class="parallax1" id = "main">

  <a href="#leaders"><span></span></a>
    -->

<!--keeps using the same image repetitively-->

 <!--</div>-->

<!--
<section id="section02" class="demo">
<a href="#innovation"><span></span></a>
</section>
            </div>
    </div>
<div class='wrap'>

  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
</div>-->


    <div class="parallax2" id = "leaders">
      <!--{% for ConvertBackgroundImages in object_list %}
      {% endfor %}
      -->
  {% for ConvertBackgroundImage in Background %}
      <img class = "backgroundimages" src="{{ConvertBackgroundImage.cover.url}}" alt="{{ ConvertBackgroundImage.backgroundtitle }}">
  {% endfor %}

        <h2 class = "opening2vb">
           {% for ConvertBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == ConvertBackgroundImage.section %}
         {% if ConvertBackgroundImage.page == 'index.html' %}
       {% if ConvertBackgroundImage.section == 1 %}
     {{ ConvertBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}      </h2>
          <h2 class="caption2a">
           {% for ConvertBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
            {% if ConvertBackgroundImage.page == 'convert.html' %}
            {% if ConvertBackgroundImage.section == 2 %}
          {% if section.section == ConvertBackgroundImage.section %}
    {{ ConvertBackgroundImage.text }}
            {% endif %}
            {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}
            <!--section 2a-->
          </h2>

    </div>

    <div class="parallax3" id = "innovation">


      <h2 class = "opening3vb">
        {% for ConvertBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == ConvertBackgroundImage.section %}
         {% if ConvertBackgroundImage.page == 'index.html' %}
       {% if ConvertBackgroundImage.section == 3 %}
     {{ ConvertBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}  </h2><h2 class="caption3a">
             {% for ConvertBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == ConvertBackgroundImage.section %}
         {% if ConvertBackgroundImage.page == 'index.html' %}
       {% if ConvertBackgroundImage.section == 4 %}
     {{ ConvertBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}  </h2>

<div class="night">
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
</div>
      <section id="section03" class="demo">
<a href="#difference"><span></span></a>
</section>
      </div>

    <div class="parallax4" id = "difference"><h2 class = "opening4">           {% for ConvertBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == ConvertBackgroundImage.section %}
         {% if ConvertBackgroundImage.page == 'index.html' %}
       {% if ConvertBackgroundImage.section == 5 %}
     {{ ConvertBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}  </h2><h2 class="caption4a">
  {% for ConvertBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == ConvertBackgroundImage.section %}
         {% if ConvertBackgroundImage.page == 'index.html' %}
       {% if ConvertBackgroundImage.section == 6 %}
     {{ ConvertBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}  </h2>
    <section id="section04" class="demo">
<a href="#join"><span></span></a>
</section>
    </div>
    </div>
  </div>

   <!--<h2>{{ STRIPE_PUBLIC_KEY }} undefined key</h2>-->


     <div class="parallax5" id = "join"><h2 class = "opening5vb">
                  {% for ConvertBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == ConvertBackgroundImage.section %}
         {% if ConvertBackgroundImage.page == 'index.html' %}
       {% if ConvertBackgroundImage.section == 7 %}
     {{ ConvertBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}  </h2><h2 class="caption5a">
                  {% for ConvertBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == ConvertBackgroundImage.section %}
         {% if ConvertBackgroundImage.page == 'index.html' %}
       {% if ConvertBackgroundImage.section == 8 %}
     {{ ConvertBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}  </h2>
     </div>

           <div class="metaclass">
    <a href="https://discord.gg/g43uGbURUz">
         <img alt="Qries" src="../static/css/images/MC.png"
         width="150" height="150">
      </a>

          </div>
    </div>

    </div>

    </div>


    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/header1.js' %}"></script>




    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/header1.js' %}"></script>
    <script src="{% static 'css/js/arrowscroll.js' %}"></script>

</body>


{% endblock content %}

<!--use console to check work in HTML & Javascript-->

<!--html is the issue with backend background images-->
<!--backgroundimages work when ehome code is pasted into index-->


