<!DOCTYPE html>
<html>
<body>
  <h1>Your Invite Link</h1>
  <p>Share this link to invite others to join your room:</p>
  <h3>Create Invite Link</h3>
<form method="POST" action="{% url 'showcase:create_invite_link' %}">
  {% csrf_token %}
  {{ form.as_p }}

  <button type="submit">Create Link</button>
</form>

  <script>
    const copyButton = document.getElementById('copy-button');
    const inviteLink = document.getElementById('invite-link');

    copyButton.addEventListener('click', () => {
      navigator.clipboard.writeText(inviteLink.innerText)
        .then(() => {
          copyButton.textContent = 'Copied!'; // Success message
        })
        .catch(() => {
          copyButton.textContent = 'Copy Failed!'; // Error message
        });
    });
  </script>
</body>
</html>
