<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Create Game</h2>
    {{ game_form.as_p }}

    <h3>Choices</h3>
    {{ choice_formset.management_form }}
    <table>
        {% for form in choice_formset %}
        <tr>
            <td>
                {{ form.choice_text.label_tag }}
                {{ form.choice_text }}
            </td>
            <td>
                {{ form.rarity.label_tag }}
                {{ form.rarity }}
            </td>
            <td>
                {{ form.lower_nonce.label_tag }}
                {{ form.lower_nonce }}
            </td>
            <td>
                {{ form.upper_nonce.label_tag }}
                {{ form.upper_nonce }}
            </td>
        </tr>
        {% endfor %}
    </table>

    <button type="submit">Save</button>
</form>
