{% extends 'base.html' %}

{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
  <div class="column three mobile-twelve section_header_logo vertical-align-middle"
        style="position: -webkit-sticky; position: sticky; top: 10px; left: -10px; z-index: 100;">
               {% for room in rooms_with_logo_same_name %}
        {% if room.logo %}
            <img src="{{ room.logo.url }}" alt="{{ room.name }} logo" style="width: 22vh; height: 14.5vh; padding: 0px; margin-top: -40px;">
        {% else %}
            <p></p>
        {% endif %}
{% endfor %}




    </div>


<div class="postww">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<div class="post2v" style="height: 800px;">

            <div class = "boedy">
  <div class="containereatede">
     <h1 class = "banh1">My Community Settings</h1>
      </div>
                </div>
     <br>
     <br>


<form method="post" enctype="multipart/form-data" action="{{ form_action_url }}">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Create Room" >
           <div class="drops">
               <!--fix the drop classes in style-->
        <div class="drop drop-1"></div>
        <div class="drop drop-2"></div>
        <div class="drop drop-3"></div>
        <div class="drop drop-4"></div>
        <div class="drop drop-5"></div>
     </div>
  </form>
</div>
</div>

</body>
</html>
{% endblock %}
