{% extends 'base.html' %}

{% block title %} Sign Up {% endblock title %}
{% block content %}


<div class="" style="background: black;">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <form method="POST" class="signit">
         <div class="signupe">
        <legend>Sign Up Form</legend>
         </div>
        {% csrf_token %}
        {{ form.as_p }}
        <button class = "buttei" type="submit" class="btn btn-primary">Submit</button>
    </form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>


{% endblock content %}