
{% extends 'base.html' %}

{% load static %}


{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.username}}'s Trade Offers</title>
      {% if current_theme %}
    {% if current_theme.file %}
        <style>
            body {
        background-image: url("{{ current_theme.file.url }}");
        background-size: cover;
        background-attachment: fixed;
            }
        </style>
    {% else %}
        <p>Error: Current theme does not have an image.</p>
    {% endif %}
{% else %}
    <p>Error: No current theme found.</p>
{% endif %}
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1>Incoming Trade Offers:</h1>
{% for request in pending_requests %}
    <p>{{ request.user.username }} wants to trade!</p>
    <a href="{% url 'showcase:accept_trade' request.id %}">Accept</a>
    <a href="{% url 'showcase:decline_trade' request.id %}">Decline</a>
{% endfor %}

<h1>Outgoing Trade Offers:</h1>
{% for request in outgoing_requests %}
{% if request.user.username %}
    <p style="color: black;">You sent a trade request to {{ request.user.username }}.</p>
{% else %}
    <p style="color: black;">Your trade offer was listed successfully!</p>
{% endif %}
{% endfor %}

<h1>Incoming Trade Offer Responses:</h1>
{% for RespondingTradeOffer in response_pending_requests %}
    {% if RespondingTradeOffer.user2 %}

<a href="{% url 'showcase:accept_response_trade' RespondingTradeOffer.id %}">Accept Trade</a>

<a href="{% url 'showcase:decline_response_trade' RespondingTradeOffer.id  %}">Decline Trade</a>

        <p style="color: black;">You received a trade request response from {{ RespondingTradeOffer.user.username }}.</p>
        <!--make sure to show the trade offer received, with a hyperlink to the trade offer-->
    {% else %}
        <p style="color: black;">You received a trade request response.</p>
    {% endif %}
{% endfor %}

<h1>Outgoing Trade Offer Responses:</h1>
{% for RespondingTradeOffer in response_outgoing_requests %}
    {% if RespondingTradeOffer.user2 %}
        <p style="color: black;">You sent a response trade request to {{ RespondingTradeOffer.user2.username }}.</p>
        <!--make sure to show the trade offer sent, with a hyperlink to the trade offer-->
    {% elif RespondingTradeOffer.trade_offer_exists %}
        <p style="color: black;">The trade has been completed previously, so no recipient is specified.</p>
    {% else %}
        <p style="color: black;">Your response trade offer was not listed. Please specify a recipient.</p>
    {% endif %}
{% endfor %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  setInterval(function(){
   $.ajax({
      url: '/friend_requests',
      headers: {'X-Requested-With': 'XMLHttpRequest'},
      success: function(data) {
        $('#friendRequestForm').html(data);
      }
    });
  }, 5000); // specify the interval in milliseconds, e.g., 5000 for 5 seconds
});
</script>


</body>
</html>
{% endblock %}