{% extends 'ebase.html' %}

{% load static %}

{% block title %}
    {% for EBackgroundImage in Titles %}
      {% if EBackgroundImage.page == 'ehome.html' %}
         {{ EBackgroundImage.overtitle }}
      {% endif %}
    {% endfor %}
{% endblock title %} 

{% block content %}
   




<main>
  <div class = "ecommerce">
          {% for EBackgroundImage in Background %}
     <img class = "ebackgroundimages" src="{{ EBackgroundImage.cover.url }}" alt="{{ EBackgroundImage.title }}">
       <div class="view overlay">
                  <div class="mask rgba-white-slight"></div>
              </div>
    {% endfor %}
    
<br>
  <br>
<div class = "search">


<form class = "searchbar" action="{% url 'showcase:ecommercesearch_results' %}" method="get" style="border-radius: 30px;">
  <input name="q" type="text" placeholder="Search Products..." style="border-radius: 30px;">
</form>
  <br>
  <br>
</div>

{% block logos %}
    {% for EBaseView in Logos %}
        <a class="logo" href="{{ EBaseView.hyperlink }}">
            <img class="imageicon" src="media/{{ EBaseView.logocover }}" alt="{{ EBaseView.alternate }}"
                 width="145vh" height="100vh" style="z-index: 100;">
        </a>
    {% endfor %}
{% endblock %}

      <!--Navbar-->
      <div class="navbarbo">
        
        <!-- Navbar brand -->
        <!--<span class="navbar-brand">Categories:</span>-->

        <!-- Collapse button -->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>-->

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbarbeo">
              <a class="nav-link" href="#">All     
              </a>
            
              <a class="nav-link" href="#">Gold Tier </a>
            
              <a class="nav-link" href="#">Platinum Tier</a>

              <a class="nav-link" href="#">Emerald Tier</a>
     
              <a class="nav-link" href="#">Diamond Tier</a>
          </ul>
          <!-- Links -->

          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->

      </div>         
      <!--/.Navbar-->

      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">
          {% for item in items %}
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">
              <!--Card image-->
              <div class="view overlay">
                <a href="{{ item.get_absolute_url }}">
      <img class = "hunt" src="{{item.image.url}}" class="card-img-top"
                  alt="{{ item.image.url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>        
              </div>
              <!--Card image-->
              <!--Card content-->
<a href="{{ item.get_absolute_url }}" class="grey-text">
              <div class="card-body text-center">
                <!--Category & Title-->
                        
                  <h5 class = "itemtitle">{{item.title}}</h5>
                
                <h5 class = "itemtitle">
                  <strong>
                    {{ item.item_name }}
                      <span class="badge badge-pill {% if item.get_label_display == 'New' %} danger-color {% else %} primary-color {% endif %}">{{ item.get_label_display }}</span>
                   
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>$
                  {% if item.discount_price %}
                  {{ item.discount_price }}
                  {% else %}
                  {{ item.price }}
                  <br>
                    <br>
       
                    <a href = "{{ item.get_absolute_url }}">Buy Now</a>
            <br>
                  <br>
                  {% endif %}
                  </strong>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->
</a>
          {% endfor %}
         

        </div>
        <!--Grid row-->

      </section>
      <!--Section: Products v.3-->

      <!--Pagination-->
      <div class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          <!--Arrow left-->
<li class="page-item {% if not items.has_previous %}disabled{% endif %}">
  {% if items.has_previous %}
  <a class="page-link" href="?page={{ items.previous_page_number }}" aria-label="Previous">
    <span aria-hidden="true">&laquo;</span>
    <span class="sr-only">Previous</span>
  </a>
  {% else %}
   <a class="page-link" href="?page={{ items.previous_page_number }}" aria-label="Previous">
    <span aria-hidden="true">&laquo;</span>
    <span class="sr-only">Previous</span>
  {% endif %}
   </a>
</li>

          <li class="page-item active">
            <a class="page-link" href="?page=1">1
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page=2">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page=3">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page=4">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page=5">5</a>
          </li>

                      <!--Arrow right-->
<li class="page-item {% if not items.has_next %}disabled{% endif %}">
  {% if items.has_previous %}
  <a class="page-link" href="?page={{ items.next_page_number }}" aria-label="Previous">
    <span aria-hidden="true">&raquo;</span>
    <span class="sr-only">Next</span>
  </a>
  {% else %}
   <a class="page-link" href="?page={{ items.next_page_number }}" aria-label="Previous">
    <span aria-hidden="true">&raquo;</span>
    <span class="sr-only">Next</span>
  {% endif %}
   </a>
</li>
            
        </ul>
      </div>
      <!--Pagination-->
  </div>
  
  </main>
  <!--Main layout-->

{% endblock content %}
