{% extends 'ebase.html' %}

{% load static %}

{% block title %}
    {% for EBackgroundImage in Titles %}
      {% if EBackgroundImage.page == 'ehome.html' %}
         {{ EBackgroundImage.overtitle }}
      {% endif %}
    {% endfor %}
{% endblock title %} 

{% block content %}
<main>
  <div class="ecommerce">
    {% for EBackgroundImage in Background %}
      <img class="ebackgroundimages" src="{{ EBackgroundImage.cover.url }}" alt="{{ EBackgroundImage.title }}">
      <div class="view overlay">
        <div class="mask rgba-white-slight"></div>
      </div>
    {% endfor %}

    <!-- Search bar -->
    <br>
    <br>
    <div class="search">
      <form class="searchbar" action="{% url 'showcase:ecommercesearch_results' %}" method="get" style="border-radius: 30px;">
        <input name="q" type="text" placeholder="Search Products..." style="border-radius: 30px;">
      </form>
      <br>
      <br>
    </div>

    {% block logos %}
      {% for EBaseView in Logos %}
        <a class="logo" href="{{ EBaseView.hyperlink }}">
          <img class="imageicon" src="media/{{ EBaseView.logocover }}" alt="{{ EBaseView.alternate }}"
               width="145vh" height="100vh" style="z-index: 100;">
        </a>
      {% endfor %}
    {% endblock %}

    <!-- Navbar -->
    <div class="navbarbo">
      <!-- Navbar links -->
      <ul class="navbarbeo">
        <li class="nav-item">
          <a class="nav-link" href="#">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gold Tier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Platinum Tier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Emerald Tier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Diamond Tier</a>
        </li>
      </ul>
      <!-- Search form -->

    <!-- Navbar -->

      <!--pagination change station-->
<form method="GET">
    <label for="paginate-by">Items per page:</label>
    <input type="number" name="paginate_by" id="paginate-by" value="{{ items.paginator.per_page }}">
    <button type="submit">Update</button>
</form>



    <!-- Products section -->
    <section class="text-center mb-4">
      <!-- Products grid -->
      <div class="row wow fadeIn">
        {% for item in items %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <div class="view overlay">
                <a href="{{ item.get_absolute_url }}">
                  <img class="hunt" src="{{ item.image.url }}" class="card-img-top" alt="{{ item.image.url }}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <div class="card-body text-center">
                <h5 class="itemtitle">{{ item.title }}</h5>
                <h5 class="itemtitle">
                  <strong>
                    {{ item.item_name }}
                    <span class="badge badge-pill {% if item.get_label_display == 'New' %} danger-color {% else %} primary-color {% endif %}">
                      {{ item.get_label_display }}
                    </span>
                  </strong>
                </h5>
                <h4 class="font-weight-bold blue-text">
                  <strong>
                    $
                    {% if item.discount_price %}
                      {{ item.discount_price }}
                    {% else %}
                      {{ item.price }}
                    {% endif %}
                  </strong>
                </h4>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Products grid -->

      <!-- Pagination -->
<!-- Pagination -->


<div class="d-flex justify-content-center wow fadeIn">
  <ul class="pagination pg-blue">
   <li class="page-item {% if not items.has_previous %}disabled{% endif %}">
    {% if items.has_previous %}
        <a class="page-link" href="?page={{ items.previous_page_number }}&paginate_by={{ items.paginator.per_page }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
        </a>
    {% endif %}
</li>

<!-- Page numbers -->
{% for page in items.paginator.page_range %}
    <li class="page-item {% if page == items.number %}active{% endif %}">
        <a class="page-link" href="?page={{ page }}&paginate_by={{ items.paginator.per_page }}">{{ page }}</a>
    </li>
{% endfor %}

<!-- Arrow right -->
<li class="page-item {% if not items.has_next %}disabled{% endif %}">
    {% if items.has_next %}
        <a class="page-link" href="?page={{ items.next_page_number }}&paginate_by={{ items.paginator.per_page }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
    {% endif %}
</li>
  </ul>
</div>

      <!-- Arrow left -->


<!-- Pagination -->

      <!-- Pagination -->
    </section>
    <!-- Products section -->
  </div>
</main>
{% endblock content %}
