{% extends 'memberbase.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}

  {% if user.is_authenticated %}
<style>
.profilepicture {
    border-radius: 50px;
  }
</style>
<div class="poste1">
<div class = "search">

<br>
<br>
<br>
<br>
<br>
<br>
               {% for EventBackgroundImage in object_list %}
    <!--<h2>{{ EventBackgroundImage.title }}</h2>-->
      <img class = "ebackgroundimages" src="{{EventBackgroundImage.cover.url}}" alt="{{ EventBackgroundImage.title }}">
  {% endfor %}

<form action="{% url 'showcase:search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
</div>
<br>
  <br>
    <h1 class="hello">Hello {{user.username}}!</h1>
      <br>
        <br>
  <li>
                                {% for newprofile in Profiles %}
                                {% if newprofile.newprofile_profile_picture_url %}
                                  <a href="{{ newprofile.newprofile_profile_url }}">
                                      <img class="profilepicture" src="{{ newprofile.newprofile_profile_picture_url }}" alt="Profile Picture" width="50" height="50">


                                  </a>
                                {% else %}
                                   <!-- Placeholder image or default avatar -->
                                  <img class="profilepicture" src="{% static 'css/images/a.jpg' %}" alt="Default Avatar" width="50" height="50">
                                {% endif %}
                                {% endfor %}
                    </li>
    <!--saved items here-->
    {% for Event in Events %}
      <div class = "postop">
        <h1>{{Event.name}}</h1>
        <br>
        <p class="describe">
          {{Event.catagory}}</p>
        <br>
        <br>
        <p class="describe">
          {{Event.description}}</p>
        <br>
        <br>
        <p class="describe">
          {{Event.date_and_time}}</p>
        <br>
        <br>
          <img class = "hunt" src="{{Event.image.url}}">
        <br>
        <br>
        <br>
  </div>
      <br>
      <br>
      <br>
      <br>

   <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>


    {% endfor %}
  {% else %}
<head>
  <meta http-equiv="refresh" content="0; {% url 'login' %}">
  </head>
  {% endif %}
{% endblock content %}