{% extends 'base.html' %}
{% load static %}

    {% for FaqBackgroundImage in Titles %}
      {% if FaqBackgroundImage.page == 'rule.html' %}
         {{ FaqBackgroundImage.overtitle }}
      {% endif %}
    {% endfor %}

{% block content %}

<head>
  <!--change title tags to django form -->

<link rel="icon" href="{% static 'images/favicon.ico' type='image/ico' %}">
</head>
  
<body>
 

  <div id="overlay">  
    <img src = "76.gif">
    </div>
{% for FaqBackgroundImage in Background %}
  {% if FaqBackgroundImage.page == "faq.html" %}
  {% if FaqBackgroundImage.position == 1 %}
    <div class="parallax1arules" id = "main" style="background-image: url({{FaqBackgroundImage.cover.url}})">
        {% endif %}
        {% endif %}
        {% endfor %}

{% for FaqBackgroundImage in TextFielde %}
  {% if FaqBackgroundImage.page == "faq.html" %}
  {% if FaqBackgroundImage.section == 1 %}
      <h2 class = "opening" style="color: {{FaqBackgroundImage.text_color}}">{{FaqBackgroundImage.text}}</h2>
        {% endif %}
        {% endif %}
        {% endfor %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        {% for FaqBackgroundImage in TextFielde %}
  {% if FaqBackgroundImage.page == "faq.html" %}
  {% if FaqBackgroundImage.section == 2 %}
      <h2 class="caption1arules" style="color: {{FaqBackgroundImage.text_color}}">{{FaqBackgroundImage.text}}</h2>
        <br>
  {% endif %}
  {% endif %}
  {% endfor %}

    </div>

       {% for FaqBackgroundImage in Background %}
      {% if FaqBackgroundImage.page == "faq.html" %}
      {% if FaqBackgroundImage.position == 2 %}
    <div class="parallax2arules" id = "leaders" style="background-image: url({{FaqBackgroundImage.cover.url}})">
    <!--<h2>{{ FaqBackgroundImage.title }}</h2>-->
  {% endif %}
  {% endif %}
  {% endfor %}

        {% for FaqBackgroundImage in TextFielde %}
  {% if FaqBackgroundImage.page == "faq.html" %}
  {% if FaqBackgroundImage.section == 3 %}
        <h2 class = "opening2rules" style="color: {{FaqBackgroundImage.text_color}}">{{ FaqBackgroundImage.text }}</h2>

{% endif %}
  {% endif %}
  {% endfor %}


        {% for FaqBackgroundImage in TextFielde %}
  {% if FaqBackgroundImage.page == "faq.html" %}
  {% if FaqBackgroundImage.section == 4 %}
          <h2 class="caption2arules" style="color: {{FaqBackgroundImage.text_color}}">
     {{ FaqBackgroundImage.text }} </h2>
    </div>
{% endif %}
  {% endif %}
  {% endfor %}

       {% for FaqBackgroundImage in Background %}
      {% if FaqBackgroundImage.page == "faq.html" %}
      {% if FaqBackgroundImage.position == 3 %}
    <div class="parallax3arules" id = "difference" style="background-image: url({{FaqBackgroundImage.cover.url}})">
{% endif %}
  {% endif %}
  {% endfor %}

                {% for FaqBackgroundImage in TextFielde %}
  {% if FaqBackgroundImage.page == "faq.html" %}
  {% if FaqBackgroundImage.section == 5 %}
        <h2 class = "opening3rules" style="color: {{FaqBackgroundImage.text_color}}">{{FaqBackgroundImage.text}}</h2>

{% endif %}
  {% endif %}
  {% endfor %}

                      {% for FaqBackgroundImage in TextFielde %}
  {% if FaqBackgroundImage.page == "faq.html" %}
  {% if FaqBackgroundImage.section == 6 %}
        <h2 class="caption3arules" style="color: {{FaqBackgroundImage.text_color}}">{{FaqBackgroundImage.text}}</h2></div>

{% endif %}
  {% endif %}
  {% endfor %}
  </div>
    </div>

       {% for FaqBackgroundImage in Background %}
      {% if FaqBackgroundImage.page == "faq.html" %}
      {% if FaqBackgroundImage.position == 4 %}
    <div class="parallax4arules" id = "innovation" style="background-image: url({{FaqBackgroundImage.cover.url}})">
{% endif %}
  {% endif %}
  {% endfor %}

        {% for FaqBackgroundImage in TextFielde %}
  {% if FaqBackgroundImage.page == "faq.html" %}
  {% if FaqBackgroundImage.section == 7 %}
      <h2 class = "opening4rules" style="color: {{FaqBackgroundImage.text_color}}">{{FaqBackgroundImage.text}}</h2>
       {% endif %}
  {% endif %}
  {% endfor %}

                {% for FaqBackgroundImage in TextFielde %}
  {% if FaqBackgroundImage.page == "faq.html" %}
  {% if FaqBackgroundImage.section == 8 %}
        <h2 class="caption4arules" style="color: {{FaqBackgroundImage.text_color}}">{{FaqBackgroundImage.text}}</h2></div>
       {% endif %}
  {% endif %}
  {% endfor %}
    </div>
  </div> 

    
     <!--<div class="parallax5arules"><h2 class = "opening5rules">Join Us</h2><h2 class="caption5arules">If you have read this far, don't just sit there. Click the〖𐌑𐌂〗icon below to get in! </h2></div>

           <div class="metaclass">
    <a href="https://discord.gg/g43uGbURUz">
         <img alt="Qries" src="../static/css/images/MC.png"
         width="350" height="150">
      </a>

          </div>
    </div>
         
    </div>

    </div>-->




  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    
</body>

{% endblock content %}