{% extends 'memberbase.html' %}
{% block content %}
<head>
    {% for FriendSearchResultsView in Titles %}
      {% if FriendSearchResultsView.page == 'friendsearchresultview.html' %}
        <title>{{ FriendSearchResultsView.overtitle }}</title>
      {% endif %}
    {% endfor %}
  <style>
.link-style {
  text-decoration: none;
  color: inherit; /* Optionally, to inherit the color from the parent */
}
</style>

</head>

<body>
    <div class="column three mobile-twelve section_header_logo vertical-align-middle"
        style="position: -webkit-sticky; position: sticky; top: 10px; left: -10px; z-index: 100;">
        {% for FriendSearchResultsView in Logo %}
        {% if FriendSearchResultsView.page == 'friendsearchresultview.html' %}

        <a class="logo" href="{{FriendSearchResultsView.hyperlink}}">
          <img class="imageicon" src="{{FriendSearchResultsView.logocover.url}}"
                alt="{{FriendSearchResultsView.alternate}}" style="length: {{FriendSearchResultsView.length_for_resize}}px; width: {{FriendSearchResultsView.width_for_resize}}px;"></a>
        {% endif %}
        {% endfor %}
    </div>


        {% for FriendSearchResultsView in Background %}
    {% if FriendSearchResultsView.page == "friendsearchresultview.html" %}
<div class="poste1" style="background-image: url({{ FriendSearchResultsView.cover.url }}); background-position: fixed; background-size: cover;">
    {% endif %}
{% endfor %}

<div class = "searcherbackground">
  <div class = "searcher">
  <ul>
  <br>
  <br>        
  <br>                 
  <br>
  <br>
  <br>
  <br>
  <br>


      <h1 class = "banh1t">Friends</h1>
    <table>
  <thead>
    <tr>
      <th>Product Title</th>
      <th>Product Slug</th>
    </tr>
  </thead>
  <tbody>


  <h1>Friends </h1>
{% if search_results %}
  <h2>Search Results</h2>
  <ul>
    {% for friend in search_results %}
      <li>
        <a href="{% url 'showcase:profile' friend.pk %}">
          {{ friend.friend.username }} </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

  </tbody>
</table>

  </ul>
  </div>
</div>
</div>
</body>

{% endblock content %}