
{% extends 'base.html' %}
{% load static %}
    {% for InformationBackgroundImage in Titles %}
      {% if InformationBackgroundImage.page == 'information.html' %}
         {{ InformationBackgroundImage.overtitle }} 
      {% endif %}
    {% endfor %}
{% block content %}

<head>
  <!--change title tags to django form -->
<link rel="icon" href="{% static 'images/favicon.ico' type='image/ico' %}">
</head>
  
<body>   

  <div id="overlay">  
    <img src = "76.gif">
    </div>

    <div class="parallax1" id = "main">
       
  <span>{% for InformationBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == InformationBackgroundImage.section %}
         {% if InformationBackgroundImage.page == 'information.html' %}
       {% if InformationBackgroundImage.section == 1 %}
     {{ InformationBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %} </span>
  <section id="section01" class="demo">
  <a href="#leaders"><span></span></a>
</section>
  </div>
    <div class="parallax2" id = "leaders">

    {% for InformationBackgroundImage in object_list %}
    <!--<h2>{{ InformationBackgroundImage.title }}</h2>-->
      <img class = "backgroundimages" src="{{InformationBackgroundImage.cover.url}}" alt="{{ InformationBackgroundImage.backgroundtitle  }}">
  {% endfor %}
      
        <h2 class = "opening2vb">
          {% for InformationBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == InformationBackgroundImage.section %}
         {% if InformationBackgroundImage.page == 'information.html' %}
       {% if InformationBackgroundImage.section == 2 %}
     {{ InformationBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %} </h2>
          <h2 class="caption2a">{% for InformationBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == InformationBackgroundImage.section %}
         {% if InformationBackgroundImage.page == 'information.html' %}
       {% if InformationBackgroundImage.section == 3 %}
     {{ InformationBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %} 
          </h2>

<section id="section02" class="demo">
<a href="#innovation"><span></span></a>
</section>
            </div>
    </div>


    <div class="parallax3" id = "innovation">
      <h2 class = "opening3vb">
        {% for InformationBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == InformationBackgroundImage.section %}
         {% if InformationBackgroundImage.page == 'information.html' %}
       {% if InformationBackgroundImage.section == 4 %}
     {{ InformationBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %} </h2><h2 class="caption3a">
  {% for InformationBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == InformationBackgroundImage.section %}
         {% if InformationBackgroundImage.page == 'information.html' %}
       {% if InformationBackgroundImage.section == 5 %}
     {{ InformationBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}    </h2>

      <section id="section03" class="demo">
<a href="#difference"><span></span></a>
</section>  
      </div>  

    <div class="parallax4" id = "difference"><h2 class = "opening4">{% for InformationBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == InformationBackgroundImage.section %}
         {% if InformationBackgroundImage.page == 'information.html' %}
       {% if InformationBackgroundImage.section == 6 %}
     {{ InformationBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %} 
      </h2><h2 class="caption4a">{% for InformationBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == InformationBackgroundImage.section %}
         {% if InformationBackgroundImage.page == 'information.html' %}
       {% if InformationBackgroundImage.section == 7 %}
     {{ InformationBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %} </h2>
    <section id="section04" class="demo">
<a href="#join"><span></span></a>
</section>
    </div>
    </div>
  </div> 

    
     <div class="parallax5" id = "join"><h2 class = "opening5vb">{% for InformationBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == InformationBackgroundImage.section %}
         {% if InformationBackgroundImage.page == 'information.html' %}
       {% if InformationBackgroundImage.section == 8 %}
     {{ InformationBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %} </h2><h2 class="caption5a">
  {% for InformationBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == InformationBackgroundImage.section %}
         {% if InformationBackgroundImage.page == 'information.html' %}
       {% if InformationBackgroundImage.section == 9 %}
     {{ InformationBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %} </h2>
     </div>

          
    </div>
         
    </div>

    </div>

  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/header1.js' %}"></script>



  </footer>

  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/header1.js' %}"></script>
    <script src="{% static 'css/js/arrowscroll.js' %}"></script>

</body>

{% endblock content %}


