{% extends 'base.html' %}
{% load static %}

{% block title %} MegaClan〖𐌑𐌂〗{% endblock title %} 

{% block content %}

<head>
  <!--change title tags to django form -->
<link rel="icon" href="{% static 'images/favicon.ico' type='image/ico' %}">
</head>
  
<body>   

  <div id="overlay">  
    <img src = "76.gif">
    </div>

    <div class="parallax1">
       
  <span>〖𐌑𐌂〗</span>
  </div>
    <div class="parallax2" id = "leaders">
        <h2 class = "opening2vb">Server Invite</h2>
      <form action="https://discord.gg/RHr9MqM8J8/" method="get" target="_blank">
         <button type="submit">
      Join MegaClan〖𐌑𐌂〗</button>
      </form>

            </div>
 
    </div>


    <div class="parallax3" id = "innovation">
      <h2 class = "opening3vb">Power To The People</h2><h2 class="caption3a">You heard that right. MegaClan〖𐌑𐌂〗is a server where the members have all the power. You get to vote on stuff, request changes to the server (we actually listen), and even elect leaders! There is no real owner at MegaClan because everyone owns a part of〖𐌑𐌂〗, either literally or figuratively. This is our home, and it will be yours too, if you choose to become a member. </h2></div>  

    <div class="parallax4" id = "difference"><h2 class = "opening4">Utter Domination</h2><h2 class="caption4a">MegaClan brings a whole new meaning to the word "Dominate". We are the dominant clan in several servers; our skills and numbers easily overwhelm other clans. We have been attacked on mope and on discord numerous times in feuds with other clans, and I am proud to say, we always won those fights. We come out stronger than before, leaving our opponents in the dust.</h2></div>
    </div>
  </div> 

    
     <div class="parallax5"><h2 class = "opening5vb">Join Us</h2><h2 class="caption5a">If you have read this far, don't just sit there. Click the〖𐌑𐌂〗icon below to get in! </h2></div>

           <div class="metaclass">
    <a href="https://discord.gg/g43uGbURUz">
         <img alt="Qries" src="../static/css/images/MC.png"
         width="350" height="150">
      </a>

          </div>
    </div>
         
    </div>

    </div>

  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/header1.js' %}"></script>



  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/header1.js' %}"></script>

</body>

{% endblock content %}