{% extends 'base.html' %}
{% load static %}

{% block content %}



<html>
  <head>
     <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>MegaClan〖𐌑𐌂〗-Lord Smonkey</title>
  </head>
   
    <header>
    <h1 class = "pokemon trove">Lord Smonkey</h1>
     </div>
     <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    </header>
<body>
  <div id="overlay">  
    <img src = "/static/css/images/76.gif">
    </div>

    <div class="parallax1t">
      <h2 class = "opening">Lord Smonkey</h2><h2 class="caption1a"> Feared by the enemies of MC, respected by MC, this Lord of MegaClan is known by many titles. Mastre of Destruction, Mastre of Creation, Mastre of Business, Leader of MegaClan, and far more. Lord Smonkey specializes in several technical fields and uses those skillsets to benefit MegaClan. Lord Smonkey is also known as the Supreme Lord of Destruction due to his trancendence in the Art of Destruction, and has the capability to Destroy in several planes simultaneously.           
        </h2>
    </div>  
   
    
    <div class="parallax2t">
        <h2 class = "opening2">Commitment to MC</h2>
          <h2 class="caption2a">
            As Clan Leader/Founder of MC, Lord Smonkey is dedicated to MC. He is in charge of the administrative, technical, and server branches. He works together with Lord Joker, Lord Ace, Lord Bubbles, Lord Vonely, Lord Fishi, and our amazing MegaClan Staff Team in order to make MegaClan a better place.  
            </div>
          </h2>
    </div>


    <div class="parallax3t"><h2 class = "opening3">The SmonkArmy</h2><h2 class="caption3a">The SmonkArmy is made up of loyal Lord Smonkey followers who have massive respect toward Lord Smonkey. In return for their fellowship in this sacred microclan, they are rewarded by Lord Smonkey with extra perks and privilages in the clan, on top of the perks "normal" members already have. </h2></div>  
    
  <!--Custom JS-->
    <script src="/static/css/js/script.js"></script>
    <script src="/static/css/js.darkmode.js"></script>
    <script src="/static/css/js/navbar.js"></script>
    <script src="/static/css/js/scroll.js"></script>

   </div>
</body>
</html>

{% endblock content %}