{% extends 'base.html' %}
{% load static %}

{% block content %}


<html>
  <head>
     <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Lord Fishi</title>
  </head>
  <body>
    <header>
    <h1>Something</h1>
    </header>

     <div id="overlay">  
    <img src = "/static/css/images/76.gif">
    </div>
    
    <div class="parallax0e"><h2 class = "c1e"> Fishi: Lord of Marine Animals </h2><h2 class="caption1r">Lord Fishi's Profile </h2></div>  
   

    <div class="parallax1e"><h2 class = "c2e">In the wise words of Lord Fishi,</h2><h2 class="caption2r">Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming</h2></div>

    <div class="parallax2e"><h2 class = "c3e">Just Keep Swimming</h2><h2 class="caption3r">Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming </h2></div>  
   

    <div class="parallax3e"><h2 class = "c4e">Just Keep Swimming </h2><h2 class="caption4r">Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming Just Keep Swimming     </h2>
    </div>    
    </div>
      
     
        <header>

  <div class="column three mobile-twelve section_header_logo vertical-align-middle">
 <a style="position: absolute; top: 5px; left: 10px; height: 10px;  width: 10px;" href="/"> <img src="https://www.logomaker.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6khvOEpRJHnBvIwXs1M3EMoAJtliQtgPBu9...0y "></a>
 </div>

     </header>
    
      </div>


   <!--Custom JS-->
    <script src="/static/css/js/script.js"></script>
    <script src="/static/css/js.darkmode.js"></script>
    <script src="/static/css/js/navbar.js"></script>
    <script src="/static/css/js/scroll.js"></script>

  </body>
</html>

{% endblock content %}
