{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <!--change title tags to django form -->
<title> MegaClan〖𐌑𐌂〗</title>

<link rel="icon" href="{% static 'images/favicon.ico' type='image/ico' %}">
</head>
  
<body>   
       <header>
        <header>

  <div class="column three mobile-twelve section_header_logo vertical-align-middle">
 <a style="position: absolute; top: 5px; left: 10px; height: 10px;  width: 10px;" href="/"> <img src="https://www.logomaker.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6khvOEpRJHnBvIwXs1M3EMoAJtliQtgPBu9...0y "></a>
 </div>

     </header>
     
     
    <div class = "navbarx">

    <ul>
        <div class="dropdown1">      
        <a href="#main" class="glass">Home</a>
          <div class="dropdown-content">
      <a href="{% url 'index'%}">Home Page</a>
      <a href="{% url 'showcase'%}">Sign In/Sign Up</a>
      <a href="https://discord.com/channels/813761567304843315/813779502190297108">MegaClan〖𐌑𐌂〗</a>
      <!--<a href="{% url 'myaccount'%}">My Account</a>-->
        </div>
        
      </div>

        <div class="dropdown2">      
        <a href="#leaders" class="glass">Information</a>
          <div class="dropdown-content">
      <a href="{% url 'tag'%}">MegaClan Tag</a> 
      <a href="{% url 'about'%}">MegaClan History</a>
      <a href="{% url 'faq'%}">FAQ</a>   
      <a href="{% url 'staffranks'%}">Staff Ranks</a>  
      <a href="{% url 'originalmembers'%}">Original Members</a>  
      <a href="{% url 'nemesis'%}">MegaClan's Foes</a>           
        </div>
      </div>

        <div class="dropdown3">      
        <a href="#innovation" class="glass">Members</a>
          <div class="dropdown-content">  
      <a href="{% url 'newsfeed'%}">News Feed</a>
      <a href="{% url 'events'%}">Events</a>
      <a href="{% url 'voting'%}">Community Posts</a>
      <a href="{% url 'vote'%}">Make A Idea</a>
      <a href="{% url 'users'%}">Community Ideas</a>
      <a href="{% url 'share'%}">Share An Idea</a>
      <a href="{% url 'perks'%}">Member Perks</a>
        </div>
      </div>
 
        <div class="dropdown4">      
        <a href="#difference" class="glass">Rules</a>
          <div class="dropdown-content">      
      <a href="{% url 'rules'%}">Rules</a> 
      <a href="{% url 'punishapps'%}">Appeal A Punishment</a>
      <a href="{% url 'banappeals'%}">Appeal A Ban</a>
      <a href="{% url 'ruleappeals'%}">Change A Rule</a>      
        </div>
      </div>

         <div class="dropdown5">
        <a href="#difference" class="glass">Staff Team</a>
        <div class="dropdown-content">
      <!--<a href="{% url 'email'%}">Contact Us</a>-->
      <a href="{% url 'staff' %}">Staff Team</a>
      <a href="{% url 'admin' %}">Administration</a>
      <a href="{% url 'tiers'%}">Staff Apps</a> 
      <a href="{% url 'lordjoker'%}">Lord Joker</a>
      <a href="{% url 'lordfishi' %}">Lord Fishi</a>
      <a href="{% url 'lordsmonkey' %}">Lord Ace</a>  
      <a href="{% url 'lordsmonkey' %}">Lord Smonkey</a>    
         </div>
      </div>


         <div class="dropdown">
        <a href="#difference" class="glass">Support MC!</a>
        <div class="dropdown-content">
      <a href="{% url 'story'%}">〖𐌑𐌂〗Merchandise</a>
      <a href="{% url 'invite'%}">〖𐌑𐌂〗Invites</a>
      <a href="https://www.patreon.com/user?u=43932791&fan_landing=true">〖𐌑𐌂〗Patreon</a>
      <a href="{% url 'invite'%}">〖𐌑𐌂〗Boosts</a>
      <a href="{% url 'partners'%}">〖𐌑𐌂〗Partners</a>

         </div>
      </div>
    </ul>

  </div>
       
    </div>
    
     <nav>
     <div class="bell"></div>
     <div onclick='navToggle(this)'  class="hamburger">
       <div class="bun"></div>
       <div class="bun"></div>
       <div class="bun"></div>
     </div>
     
<h2 class = "navtext">MegaClan</h2>    
    <div class="navItem"><a href = "{% url 'index' %}">Home</a></div>
     <div class="navItem2"><a href = "{% url 'about' %}">About Us</a></div>
     <div class="navItem3"><a href = "{% url 'servers' %}">MegaClan Servers</a></li></div>
     <div class="navItem10"><a href = "{% url 'perks' %}">Member Perks</a></li></div>
     <div class="navItem4"><a href = "{% url 'admin' %}">Administration</a></li></div>
     <div class="navItem5"><a href="https://discord.com/channels/813761567304843315/813779502190297108">MegaClan〖𐌑𐌂〗</a></li></div>
     <div class="navItem8"><a href = "{% url 'rules' %}">Rules</a></li></div>
     <div class="navItem9"><a href = "{% url 'login' %}">VIP Only Area</a></div>
<br>
<br>

<div class="metaclass1">
    <a href="https://discord.gg/g43uGbURUz">
         <img alt="Qries" src="../static/css/images/MC.png"
         width="280" height="150">
      </a>

          </div>
    </div>
</nav>

  <div id="overlay">  
    <img src = "76.gif">
    </div>

    <div class="parallax1" id = "main">
      <h2 class = "opening">Innovation made reality.</h2> <h2 class="caption1a">Welcome to MegaClan〖𐌑𐌂〗, the best gaming/community server anywhere. We .</h2>
    </div>  
   
    
    <div class="parallax2" id = "leaders">
        <h2 class = "opening2">Events</h2>
          <h2 class="caption2a">
            We have plenty of events, usually during the holidays or during member milestones. They can be found on our events page (you must be a registered member to view events). 
            </div>
          </h2>
    </div>


    <div class="parallax3" id = "innovation">
      <h2 class = "opening3">Power To The People</h2><h2 class="caption3a">You heard that right. MegaClan〖𐌑𐌂〗is a server where the members have all the power. You get to vote on stuff, request changes to the server (we actually listen), and even elect leaders! There is no real owner at MegaClan because everyone owns a part of〖𐌑𐌂〗, either literally or figuratively. This is our home, and it will be yours too, if you choose to become a member. </h2></div>  

    <div class="parallax4" id = "difference"><h2 class = "opening4">Utter Domination</h2><h2 class="caption4a">MegaClan brings a whole new meaning to the word "Dominate". We are the dominant clan in several servers; our skills and numbers easily overwhelm other clans. We have been attacked on mope and on discord numerous times in feuds with other clans, and I am proud to say, we always won those fights. We come out stronger than before, leaving our opponents in the dust.</h2></div>
    </div>
  </div> 

    
     <div class="parallax5"><h2 class = "opening5">Join Us</h2><h2 class="caption5a">If you have read this far, don't just sit there. Click the〖𐌑𐌂〗icon below to get in! </h2></div>

           <div class="metaclass">
    <a href="https://discord.gg/g43uGbURUz">
         <img alt="Qries" src="../static/css/images/MC.png"
         width="350" height="150">
      </a>

          </div>
    </div>
         
    </div>

    </div>



  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    
</body>

{% endblock content %}