{% extends 'base.html' %}

{% load static %}

{% block title %}
    {% for ContentBackgroundImage in Titles %}
      {% if ContentBackgroundImage.page == 'morecontent.html' %}
         {{ ContentBackgroundImage.overtitle }} 
      {% endif %}
  {% endfor %}
{% endblock title %}

{% block content %}
    
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<title> Lord Joker</title>
  </head>
   
    <header>
     
    <h1 class = "pokemon trove">More Content</h1>

    </header>
<body>
  
 <div id="overlay">  
    <img src = "{% static 'css/images/76.gif' %}">
    </div>
    <div class="parallax1">
      <h2 class = "opening">Joker: Lord of Comedy</h2><h2 class="caption1a">Welcome to MegaClan〖𐌑𐌂〗, the best gaming server anywhere. We usually play .io games, mainly Mope.io but also other games like taming.io. 
        </h2>
    </div>  
 
</div>  
   

    <div class="subscriptw2"><h2 class = "c2a">Team Leader Joker</h2><h2 class="caption2r">Joker is a Team Leader of MegaClan and covers server entertainment, including but not limited to: events, server takeovers, crushing MC wannabes, and in-game Voice Channel control.</h2></div></div>

    <div class="subscriptw3"><h2 class = "c3a">Joker's Profile </h2><h2 class="caption3r">Joker is one of the first members to join MegaClan, and has earned his venerable position as a Team Leader due to his diligence and work. He created the design of the server, added countless members, and overall is a great guy. But when needed, he is the server's first line of defence, scouting out and destroying MegaClan haters (usually a small group of jealous wannabes) and their servers. He is one of the most respected people in the server, second to none, and takes care of MegaClan as if it was his own (it belongs to the people). I could keep going on and on about this guy but you get the idea. You can find his self-made profile in-server, under profiles.</h2></div>  

    <div class="subscriptw4"><h2 class = "c4a">Joker's Jesters</h2><h2 class="caption4r">Joker's Jesters are a group of dedicated people who revere Lord Joker. They serve him, and in return, get special perks in specific areas. This group is usually very comedic and funny, and/or enjoys comedy. If you want to be a Joker's Jester, click the icon and fill out the form (must be a registered member in MC first).</h2>
      
   
<br>
<br>
  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>

</body>
</html>

{% endblock content %}
