{% extends 'memberbase.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
    
  {% if user.is_authenticated %}
  
         <header>



     </header>


<div class = "search">
    <br>
<br>
<br>
<br>
<br><br>
<br>

<form action="{% url 'showcase:search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
</div>


  <div class = "settings">
   <!--make user able to see profile name and statistics, and be able to change a few settings-->
    </div>

<div class="poste1"> 
  <br>
    <h1 class="hello">Hello {{user.username}}!</h1>
      <br>
        <br>
    <!--saved items here-->
    {% for SettingsView in object_list %}
      <div class = "postop">
        <h1>{{SettingsView.name}}</h1>
        <br>
        <p class="describe">
          {{SettingsView.description}}</p>
        <br>
        <br>
          <img class = "hunt" src="{{SettingsView.image}}">
        <br>
        <br>
        <br>
  </div>
      <br>
      <br>
      <br>
      <br>
 <nav>
     <div class="bell"></div>
     <div onclick='navToggle(this)'  class="hamburger">
       <div class="bun"></div>
       <div class="bun"></div>
       <div class="bun"></div>
     </div>

   <h2 class = "navtext">IntelleX</h2>  
   
     <div class="navItem"><a href = "{% url 'index' %}">Home</a></li></div>
     <div class="navItem2"><a href = "{% url 'about' %}">About Us</a></div>
     <div class="navItem3"><a href = "{% url 'hackerman' %}">Product Showcase</a></li></div>
     <div class="navItem4"><a href = "{% url 'story' %}">Shop</a></li></div>
     <div class="navItem5"><a href = "{% url 'pricing' %}">Contact Us</a></li></div>
     <div class="navItem6"><a href = "{% url 'showcase' %}">My Account Settings</a></li></div>
     <div class="navItem7"><a href = "{% url 'faq' %}">FAQ</a></li></div>
     <div class="navItem8"><a href = "{% url 'commitment' %}">Our Guarantee</a></li></div>
     <div class="navItem9"><a href = "{% url 'showcase' %}">Sign In</a></li></div>
     
   </nav>

   <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    
   
    {% endfor %}
  {% else %}
  <div class ="login">
    <p>You are not logged in. Please Login or Sign Up to access the IntelleX Member Area.</p>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'cv-form' %}">Signup</a>
  </div>
</div>
  {% endif %}
{% endblock content %}