{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
    
  {% if user.is_authenticated %}
  
         <header>

  <div class="column three mobile-twelve section_header_logo vertical-align-middle">
 <a style="position: absolute; top: 5px; left: 10px; height: 10px;  width: 10px;" href="/"> <img src="https://www.logomaker.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6khvOEpRJHnBvIwXs1M3EMoAJtliQtgPBu9...0y "></a>
 </div>

     </header>
     
     
    <div class = "navbarx">

    <ul>
        <div class="dropdown1">      
        <a href="#main" class="glass">Home</a>
          <div class="dropdown-content">
      <a href="{% url 'index'%}">Home Page</a>
      <a href="{% url 'showcase'%}">Sign In/Sign Up</a>
      <a href="https://discord.com/channels/813761567304843315/813779502190297108">MegaClan〖𐌑𐌂〗</a>
      <!--<a href="{% url 'myaccount'%}">My Account</a>-->
        </div>
        
      </div>

        <div class="dropdown2">      
        <a href="#leaders" class="glass">Information</a>
          <div class="dropdown-content">
      <a href="{% url 'tag'%}">MegaClan Tag</a> 
      <a href="{% url 'about'%}">MegaClan History</a>
      <a href="{% url 'faq'%}">FAQ</a>   
      <a href="{% url 'staffranks'%}">Staff Ranks</a>  
      <a href="{% url 'originalmembers'%}">Original Members</a>  
      <a href="{% url 'nemesis'%}">MegaClan's Foes</a>           
        </div>
      </div>

        <div class="dropdown3">      
        <a href="#innovation" class="glass">Members</a>
          <div class="dropdown-content">  
      <a href="{% url 'newsfeed'%}">News Feed</a>
      <a href="{% url 'events'%}">Events</a>
      <a href="{% url 'voting'%}">Community Posts</a>
      <a href="{% url 'vote'%}">Make A Idea</a>
      <a href="{% url 'users'%}">Community Ideas</a>
      <a href="{% url 'share'%}">Share An Idea</a>
      <a href="{% url 'perks'%}">Member Perks</a>
        </div>
      </div>
 
        <div class="dropdown4">      
        <a href="#difference" class="glass">Rules</a>
          <div class="dropdown-content">      
      <a href="{% url 'rules'%}">Rules</a> 
      <a href="{% url 'punishapps'%}">Appeal A Punishment</a>
      <a href="{% url 'banappeals'%}">Appeal A Ban</a>
      <a href="{% url 'ruleappeals'%}">Change A Rule</a>      
        </div>
      </div>

         <div class="dropdown5">
        <a href="#difference" class="glass">Staff Team</a>
        <div class="dropdown-content">
      <!--<a href="{% url 'email'%}">Contact Us</a>-->
      <a href="{% url 'staff' %}">Staff Team</a>
      <a href="{% url 'admin' %}">Administration</a>
      <a href="{% url 'tiers'%}">Staff Apps</a> 
      <a href="{% url 'lordjoker'%}">Lord Joker</a>
      <a href="{% url 'lordfishi' %}">Lord Fishi</a>
      <a href="{% url 'lordsmonkey' %}">Lord Ace</a>  
      <a href="{% url 'lordsmonkey' %}">Lord Smonkey</a>    
         </div>
      </div>


         <div class="dropdown">
        <a href="#difference" class="glass">Support MC!</a>
        <div class="dropdown-content">
      <a href="{% url 'story'%}">〖𐌑𐌂〗Merchandise</a>
      <a href="{% url 'invite'%}">〖𐌑𐌂〗Invites</a>
      <a href="https://www.patreon.com/user?u=43932791&fan_landing=true">〖𐌑𐌂〗Patreon</a>
      <a href="{% url 'invite'%}">〖𐌑𐌂〗Boosts</a>
      <a href="{% url 'partners'%}">〖𐌑𐌂〗Partners</a>

         </div>
      </div>
    </ul>

  </div>
       
    </div>
    
     <nav>
     <div class="bell"></div>
     <div onclick='navToggle(this)'  class="hamburger">
       <div class="bun"></div>
       <div class="bun"></div>
       <div class="bun"></div>
     </div>
     
<h2 class = "navtext">MegaClan</h2>    
    <div class="navItem"><a href = "{% url 'index' %}">Home</a></div>
     <div class="navItem2"><a href = "{% url 'about' %}">About Us</a></div>
     <div class="navItem3"><a href = "{% url 'servers' %}">MegaClan Servers</a></li></div>
     <div class="navItem10"><a href = "{% url 'perks' %}">Member Perks</a></li></div>
     <div class="navItem4"><a href = "{% url 'admin' %}">Administration</a></li></div>
     <div class="navItem5"><a href="https://discord.com/channels/813761567304843315/813779502190297108">MegaClan〖𐌑𐌂〗</a></li></div>
     <div class="navItem8"><a href = "{% url 'rules' %}">Rules</a></li></div>
     <div class="navItem9"><a href = "{% url 'login' %}">VIP Only Area</a></div>
<br>
<br>

<div class="metaclass1">
    <a href="https://discord.gg/g43uGbURUz">
         <img alt="Qries" src="../static/css/images/MC.png"
         width="280" height="150">
      </a>

          </div>
    </div>
</nav>


  <div class = "settings">
   <!--make user able to see profile name and statistics, and be able to change a few settings-->
    </div>
  
<div class = "search">
<form action="{% url 'search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
</div>

<div class="poste1"> 
  <br>
    <h1 class="hello">Hello {{user.username}}!</h1>
      <br>
        <br>
    <!--saved items here-->
    {% for UpdateProfile in object_list %}
      <div class = "postop">
        <h1>{{UpdateProfile.name}}</h1>
        <br>
        <p class="describe">
          {{UpdateProfile.description}}</p>
        <br>
        <br>
          <img class = "hunt" src="{{UpdateProfile.image}}">
        <br>
        <br>
        <br>
  </div>
      <br>
      <br>
      <br>
      <br>
 <nav>
     <div class="bell"></div>
     <div onclick='navToggle(this)'  class="hamburger">
       <div class="bun"></div>
       <div class="bun"></div>
       <div class="bun"></div>
     </div>

   <h2 class = "navtext">IntelleX</h2>  
   
     <div class="navItem"><a href = "{% url 'index' %}">Home</a></li></div>
     <div class="navItem2"><a href = "{% url 'about' %}">About Us</a></div>
     <div class="navItem3"><a href = "{% url 'hackerman' %}">Product Showcase</a></li></div>
     <div class="navItem4"><a href = "{% url 'story' %}">Shop</a></li></div>
     <div class="navItem5"><a href = "{% url 'pricing' %}">Contact Us</a></li></div>
     <div class="navItem6"><a href = "{% url 'showcase' %}">My Account Settings</a></li></div>
     <div class="navItem7"><a href = "{% url 'faq' %}">FAQ</a></li></div>
     <div class="navItem8"><a href = "{% url 'commitment' %}">Our Guarantee</a></li></div>
     <div class="navItem9"><a href = "{% url 'showcase' %}">Sign In</a></li></div>
     
   </nav>

   <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    
   
    {% endfor %}
  {% else %}
  <div class ="login">
    <p>You are not logged in. Please Login or Sign Up to access the IntelleX Member Area.</p>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'cv-form' %}">Signup</a>
  </div>
</div>
  {% endif %}
{% endblock content %}