{% extends 'memberbase.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
    
  {% if user.is_authenticated %}
  
         <header>



     </header>


<div class = "search" style="margin-top: -3%;">
    <br>
<br>
<br>
<br>
<br><br>
<br>

<form action="{% url 'showcase:search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
</div>


  <div class = "settings">
   <!--make user able to see profile name and statistics, and be able to change a few settings-->
    </div>

<div class="poste1"> 
  <br>
    <h1 class="hello">Hello, {{user.username}}!</h1>
      <br>


    <h1>My Settings</h1>
    <!--saved items here-->
    {% if settings %}
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ settings.email }}</p>
    <p>Notification Status: {{ settings.notifications_status }}</p>
    <p>Receive Coupons: {{ settings.coupons|yesno:"Yes,No" }}</p>
    <p>Receive News: {{ settings.news|yesno:"Yes,No" }}</p>
    <p>Account Status: {{ settings.get_is_active_display }}</p>
{% else %}
    <p>No settings found for this user.</p>
{% endif %}

  {% else %}
  <div class ="login">
    <p>You are not logged in. Please Login or Sign Up to access the IntelleX Member Area.</p>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'cv-form' %}">Signup</a>
  </div>
</div>
  {% endif %}
{% endblock content %}