
{% extends 'base.html' %}

{% load static %}


{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.username}}'s Trades</title>
      {% if current_theme %}
    {% if current_theme.file %}
        <style>
            body {
        background-image: url("{{ current_theme.file.url }}");
        background-size: cover;
        background-attachment: fixed;
            }
        </style>
    {% else %}
        <p>Error: Current theme does not have an image.</p>
    {% endif %}
{% else %}
    <p>Error: No current theme found.</p>
{% endif %}
</head>
<body>
  <div class="column three mobile-twelve section_header_logo vertical-align-middle">
          <a class="logo" href="">
          <img class="imageicon" src="{% static 'css/images/quasarlogo.png' %}"
                alt="Quasar Logo" style="length: 120px; width: 180px;"></a>



 </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<h1>{{user.username}}'s Trades:
</h1>
{% for trade in user_trades %}
    <h2 style="color: white;">Accepted Offers:</h2>
    <ul>
    {% for offer in trade.trade_offers.all %}
        <li>{{ offer }}</li>
    {% endfor %}
    </ul>

    <h2 style="color: white;">Trading Parties:</h2>
    <ul>
    {% for user in trade.users.all %}
        <li>{{ user.username }}</li>
    {% endfor %}
    </ul>

    <h2 style="color: white;">Trade Time: {{ trade.timestamp }}</h2>
{% empty %}
    <h2 style="color: white;">No trades found.</h2>
{% endfor %}


    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>

</body>
</html>
{% endblock %}
