
{% extends 'base.html' %}
{% load static %}

{% block title %} MegaClan〖𐌑𐌂〗{% endblock title %} 

{% block content %}

<head>
  <!--change title tags to django form -->
<link rel="icon" href="{% static 'images/favicon.ico' type='image/ico' %}">
</head>
  
<body>   

  <div id="overlay">  
    <img src = "76.gif">
    </div>

    <div class="parallax1" id = "main">
       
  <span>〖𐌑𐌂〗</span>
  <section id="section01" class="demo">
  <a href="#leaders"><span></span></a>
</section>
  </div>
    <div class="parallax2" id = "leaders">
        <h2 class = "opening2vb">Quantum Information Introduction</h2>
          <h2 class="caption2a">Quantum Information is the transfer of information by the quantum system (as an information carrier). Photonic transfer by means of light-matter interfaces results in an instantaneous change in the photons. Photonic manipulation causes the instantaneous change in the photons. This behavior expands on the theory of <i></i></b><a href = "{% url 'showcase:quantumentangling'%}">Quantum Entanglement</a><i>
          </h2>

<section id="section02" class="demo">
<a href="#innovation"><span></span></a>
</section>
            </div>
    </div>


    <div class="parallax3" id = "innovation">
      <h2 class = "opening3vb">Quantum Tests</h2><h2 class="caption3a">Researchers are testing the quantumum entanglement theory. They simulate entangled photons transfering information between 2 nodes, where the communicator holds one end & the reciever holds the other. The communication is instantaneous. This is because each quantum node is composed of quantum processers, which in turn rely on quantum bits (qubits). This is akin to the binary system, except since qubits can exist in superposition (unlike binary bits, which can only be in the states 0 or 1), they can preform multiple calculations at a time. , .    </h2>

      <section id="section03" class="demo">
<a href="#difference"><span></span></a>
</section>  
      </div>  

    <div class="parallax4" id = "difference"><h2 class = "opening4">Quantum Applications
      </h2><h2 class="caption4a">This comical duo of direlection not only failed in their attempt to wipe out MC, they were begging for mercy at the hands of the MegaClan Strikeforce (led by Lord Joker)! Po\/\/er tried to raid MC twice, and managed to knock off a few members, but many of those members were quickly reinvited to the clan. Meanwhile, Yeet tried to get his own server to raid MegaClan (which was distracted by Po\/\/er & his clan), but failed miserably. Yeet was exposed as an 11 year old and reported to Discord for being underage, but not before he watched his own server wrecked & members banned by Lord Joker. Yeet begged Lord Joker for mercy, but to no avail. Po\/\/er faced a similar fate, watching his server be demolished before his eyes, and challenged Lord Smonkey to a mope.io 1v1. It quickly ended with Po\/\/er losing horrendously, and MegaClan made sure Po\/\/er would not taint MC or mope.io with his traitorous ways again. </h2>
    <section id="section04" class="demo">
<a href="#join"><span></span></a>
</section>
    </div>
    </div>
  </div> 

    
     <div class="parallax5" id = "join"><h2 class = "opening5vb">Quantum Gravity</h2><h2 class="caption5a">Quantum Gravity is a field of Quantum Physics that attempts to explain gravity according to quantum mechanics, such as in black holes or astrophysical singularities. In general relativity, mass & energy are all given defined values. These are represented with tensor points associated with an individual spacetime point. These quantities then determine a function of a spacetime metric. However, the theories describing our 4 fundamental forces (gravity, electromagnetic, strong nuclear force, & weak nuclear force) are quantum theories, meaning they have variable values. This is an expression of Heisenberg's Uncertainty Principle. </h2>
     </div>

          
    </div>
         
    </div>

    </div>

  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/header1.js' %}"></script>



  </footer>

  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/header1.js' %}"></script>
    <script src="{% static 'css/js/arrowscroll.js' %}"></script>

</body>

{% endblock content %}