{% extends 'memberbase.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
    
  {% if user.is_authenticated %}



   {% for NewsBackgroundImage in object_list %}
    <!--<h2>{{ NewsBackgroundImage.title }}</h2>-->
      <img class = "backgroundimages" src="{{NewsBackgroundImage.cover.url}}" alt="{{ NewsBackgroundImage.title }}">
  {% endfor %}

<div class="poste1">
  <br>
    <h1 class="hello">Hello {{user.username}}!</h1>
      <br>
        <br>
    <li>
                                {% for newprofile in Profiles %}
                                {% if newprofile.newprofile_profile_picture_url %}
                                  <a href="{{ newprofile.newprofile_profile_url }}">
                                     <img src="{{ newprofile.newprofile_profile_picture_url }}" alt="Profile Picture" width="50" height="50">
                                  </a>
                                {% else %}
                                   <!-- Placeholder image or default avatar -->
                                  <img src="{% static 'css/images/a.jpg' %}" alt="Default Avatar" width="50" height="50">
                                {% endif %}
                                {% endfor %}
                    </li>

    <!--saved items here-->
    {% for NewsFeed in News %}
      <div class = "postop">
        <h1>{{NewsFeed.name}}</h1>
        <br>
        <p class="describe">
          {{NewsFeed.description}}</p>
        <br>
        <br>
          <img class = "hunt" src="{{NewsFeed.image.url}}">
        <br>
        <br>
        <br>
  </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

   <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    
   
    {% endfor %}
  {% else %}
<head>
  <meta http-equiv="refresh" content="0; {% url 'login' %}">
  </head>
  {% endif %}
{% endblock content %}