{% extends 'base.html' %}

{% load static %}

{% block title %}
    {% for PartnerBackgroundImage in Titles %}
      {% if PartnerBackgroundImage.page == 'partners.html' %}
         {{ PartnerBackgroundImage.overtitle }}
      {% endif %}
    {% endfor %}
{% endblock title %}

{% block content %}
    
  {% if user.is_authenticated %}

{% for PartnerBackgroundImage in Background %}
    <img class = "backgroundimages" src="{{PartnerBackgroundImage.cover.url}}" alt="{{ PartnerBackgroundImage.backgroundtitle }}">
{% endfor %}
<!--may cause issues due to endfor before form-->


<div class="poste1"> 
  <br>
  <br> 
  <br>
  <br>
  <br>

<h1>Donors & Contributors</h1>
    <h1 class="hello">Hello {{user.username}}!</h1>
      <br>
        <br>
    <!--saved items here-->
    {% for Partner in object_list %}
      <div class = "postop">
        <h1>{{Partner.name}}</h1>
        <br>
        <p class="describe">
          {{Partner.description}}</p> 
        <br>
        <br>
          <img class = "hunt" src="{{Partner.image}}">
        <br>
        <br>
        <br>
  </div>
      <br>
      <br>
      <br>
      <br>

   <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    
   
    {% endfor %}
  {% else %}
<head>
  <meta http-equiv="refresh" content="0; {% url 'login' %}">
  </head>
  {% endif %}
{% endblock content %}