{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prize Picker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pokecheststyle.css' %}">
    <script src="{% static 'css/js/pokechestscript.js' %}"></script>

</head>
<body>

    <div class="popup" id="popup">
        <div class="contents">
            <span class="close">&times;</span>
            <div class="text">
                <h1> Congratulations! </h1>
                <h2> You got: </h2>
                <h1 id="cardname"></h1>
                <button type="submit" style="height: 50px;">Close</button>
                <button type="submit" style="height: 50px;">Sell All</button>
            </div>

        </div>
    </div>
{% for Game in games %}
    <div class="wrapper">
    <h1 style="text-align: center; display: flex; margin-left: auto; margin-right: auto;"> {{Game.name}} </h1>
        <div class="container">
            <div class="slider" id="slider">
                <div id="{{ choice.choice_text }}" class="cards">
                    {% if Game.cards.choices.all %}
                    {% for choice in Game.cards.choices.all %}
    {% if choice.file %}  <img src="{{ choice.file.url }}" alt="Choice File">
    {% endif %}
  {% endfor %}
{% else %}
  <p>No choices associated with this game.</p>
{% endif %}
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Mewtwo" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Venusaur" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Charizard" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
                <div id="Blastoise" class="cards">
                    <img class="imageicon" src="{{Game.cards.choices.file.url}}"
										alt="{{Game.cards.choices.choice_text}}" style="length: {{BackgroundView.length_for_resize}}px; width: {{BackgroundView.width_for_resize}}px;"></a>
                </div>
            </div>
            {% endfor %}
            <img id='selector' class="spinner-arrow" src="opener_selector.svg" alt="spinner-arrow">
        </div>
    </div>
</body>
</html>