{% extends 'base.html' %}
{% load static %}


{% block content %}

<head>
  <!--change title tags to django form -->

    {% for PolicyBackgroundView in Titles %}
      {% if PolicyBackgroundView.page == 'rules.html' %}
    <title>{{ PolicyBackgroundView.overtitle }}</title>
      {% endif %}
    {% endfor %}

<link rel="icon" href="{% static 'images/favicon.ico' type='image/ico' %}">
</head>

<body>


    <div class="column three mobile-twelve section_header_logo vertical-align-middle"
        style="position: -webkit-sticky; position: sticky; top: 10px; left: -10px; z-index: 100;">
        {% for PolicyBackgroundView in Logo %}
        {% if PolicyBackgroundView.page == 'policy.html' %}

        <a class="logo" href="{{PolicyBackgroundView.hyperlink}}">
          <img class="imageicon" src="{{PolicyBackgroundView.logocover.url}}"
                alt="{{PolicyBackgroundView.alternate}}" style="length: {{PolicyBackgroundView.length_for_resize}}px; width: {{PolicyBackgroundView.width_for_resize}}px;"></a>
        {% endif %}
        {% endfor %}
    </div>

  <div id="overlay">
    <img src = "76.gif">
    </div>
{% for PolicyBackgroundView in Background %}
  {% if PolicyBackgroundView.page == "rules.html" %}
  {% if PolicyBackgroundView.position == 1 %}
    <div class="parallax1arules" id = "main" style="background-image: url({{PolicyBackgroundView.cover.url}})">
        {% endif %}
        {% endif %}
        {% endfor %}

{% for PolicyBackgroundView in TextFielde %}
  {% if PolicyBackgroundView.page == "rules.html" %}
  {% if PolicyBackgroundView.section == 1 %}
      <h2 class = "opening" style="color: {{PolicyBackgroundView.text_color}}">{{PolicyBackgroundView.text}}</h2>
        {% endif %}
        {% endif %}
        {% endfor %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        {% for PolicyBackgroundView in TextFielde %}
  {% if PolicyBackgroundView.page == "rules.html" %}
  {% if PolicyBackgroundView.section == 2 %}
      <h2 class="caption1arules" style="color: {{PolicyBackgroundView.text_color}}">{{PolicyBackgroundView.text}}</h2>
        <br>
  {% endif %}
  {% endif %}
  {% endfor %}

    </div>

       {% for PolicyBackgroundView in Background %}
      {% if PolicyBackgroundView.page == "rules.html" %}
      {% if PolicyBackgroundView.position == 2 %}
    <div class="parallax2arules" id = "leaders" style="background-image: url({{PolicyBackgroundView.cover.url}})">
    <!--<h2>{{ PolicyBackgroundView.title }}</h2>-->
  {% endif %}
  {% endif %}
  {% endfor %}

        {% for PolicyBackgroundView in TextFielde %}
  {% if PolicyBackgroundView.page == "rules.html" %}
  {% if PolicyBackgroundView.section == 3 %}
        <h2 class = "opening2rules" style="color: {{PolicyBackgroundView.text_color}}">{{ PolicyBackgroundView.text }}</h2>

{% endif %}
  {% endif %}
  {% endfor %}


        {% for PolicyBackgroundView in TextFielde %}
  {% if PolicyBackgroundView.page == "rules.html" %}
  {% if PolicyBackgroundView.section == 4 %}
          <h2 class="caption2arules" style="color: {{PolicyBackgroundView.text_color}}">
     {{ PolicyBackgroundView.text }} </h2>
    </div>
{% endif %}
  {% endif %}
  {% endfor %}

       {% for PolicyBackgroundView in Background %}
      {% if PolicyBackgroundView.page == "rules.html" %}
      {% if PolicyBackgroundView.position == 3 %}
    <div class="parallax3arules" id = "difference" style="background-image: url({{PolicyBackgroundView.cover.url}})">
{% endif %}
  {% endif %}
  {% endfor %}

                {% for PolicyBackgroundView in TextFielde %}
  {% if PolicyBackgroundView.page == "rules.html" %}
  {% if PolicyBackgroundView.section == 5 %}
        <h2 class = "opening3rules" style="color: {{PolicyBackgroundView.text_color}}">{{PolicyBackgroundView.text}}</h2>

{% endif %}
  {% endif %}
  {% endfor %}

                      {% for PolicyBackgroundView in TextFielde %}
  {% if PolicyBackgroundView.page == "rules.html" %}
  {% if PolicyBackgroundView.section == 6 %}
        <h2 class="caption3arules" style="color: {{PolicyBackgroundView.text_color}}">{{PolicyBackgroundView.text}}</h2></div>

{% endif %}
  {% endif %}
  {% endfor %}
  </div>
    </div>

       {% for PolicyBackgroundView in Background %}
      {% if PolicyBackgroundView.page == "rules.html" %}
      {% if PolicyBackgroundView.position == 4 %}
    <div class="parallax4arules" id = "innovation" style="background-image: url({{PolicyBackgroundView.cover.url}})">
{% endif %}
  {% endif %}
  {% endfor %}

        {% for PolicyBackgroundView in TextFielde %}
  {% if PolicyBackgroundView.page == "rules.html" %}
  {% if PolicyBackgroundView.section == 7 %}
      <h2 class = "opening4rules" style="color: {{PolicyBackgroundView.text_color}}">{{PolicyBackgroundView.text}}</h2>
       {% endif %}
  {% endif %}
  {% endfor %}

                {% for PolicyBackgroundView in TextFielde %}
  {% if PolicyBackgroundView.page == "rules.html" %}
  {% if PolicyBackgroundView.section == 8 %}
        <h2 class="caption4arules" style="color: {{PolicyBackgroundView.text_color}}">{{PolicyBackgroundView.text}}</h2></div>
       {% endif %}
  {% endif %}
  {% endfor %}
    </div>
  </div>


     <!--<div class="parallax5arules"><h2 class = "opening5rules">Join Us</h2><h2 class="caption5arules">If you have read this far, don't just sit there. Click the〖𐌑𐌂〗icon below to get in! </h2></div>

           <div class="metaclass">
    <a href="https://discord.gg/g43uGbURUz">
         <img alt="Qries" src="../static/css/images/MC.png"
         width="350" height="150">
      </a>

          </div>
    </div>

    </div>

    </div>-->





    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>

</body>

{% endblock content %}