{% extends 'base.html' %}
{% block content %}
<head>
    {% for RuleBackgroundImage in Titles %}
      {% if RuleBackgroundImage.page == 'rules.html' %}
    <title>{{ RuleBackgroundImage.overtitle }}</title>
      {% endif %}
    {% endfor %}
	</head>
<body>
<div class="column three mobile-twelve section_header_logo vertical-align-middle"
        style="position: -webkit-sticky; position: sticky; top: 10px; left: -10px; z-index: 100;">
        {% for PollResultsView in Logo %}
        {% if PollResultsView.page == 'pollresults.html' %}

        <a class="logo" href="{{PollResultsView.hyperlink}}">
          <img class="imageicon" src="{{PollResultsView.logocover.url}}"
                alt="{{PollResultsView.alternate}}" style="length: {{PollResultsView.length_for_resize}}px; width: {{PollResultsView.width_for_resize}}px;"></a>
        {% endif %}
        {% endfor %}
    </div>

    {% for PollResultsView in Background %}
    {% if PollResultsView.page == "pollresults.html" %}
<div class="poste1" style="background-image: url({{ PollResultsView.cover.url }}); background-position: fixed; background-size: cover;">
    {% endif %}
{% endfor %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="mb-5 text-center">{{ question.question_text }}</h1>

<br>
<ul class="list-group mb-5">
	{% for choice in question.choice_set.all %}
	<li class="list-group-item" style="color: white;">
		{{ choice.choice_text }} <span class="badge badge-success float-right">{{ choice.votes }}
			vote{{ choice.votes | pluralize }}</span>
	</li>
	{% endfor %}
</ul>
    <br>

<a class="btn btn-secondary" href="{% url 'showcase:pollquestions' %}">Back To Polls</a>
<a class="btn btn-dark" href="{% url 'showcase:polldetail' question.id %}">Vote Again?</a>
</body>
{% endblock %}
