{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
  {% for PrintShippingLabelView in Titles %}
  {% if PrintShippingLabelView.page == "printandship.html" or PrintShippingLabelView.page == "base.html" %}
  <title>{{PrintShippingLabelView.overtitle}}</title>
  {% endif %}
  {% endfor %}

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="static/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/meanmenu.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
<style>
	input {
  display: block;
}

.module--shipping-label-template {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.05);
  background: white;
}
</style>
</head>
<body>

<!--PreLoader-->
  <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
        {% for PrintShippingLabelView in Logo %}
        {% if PrintShippingLabelView.page == 'printandship.html' %}

        <a class="logo" href="{{PrintShippingLabelView.hyperlink}}">
          <img class="imageicon" src="{{PrintShippingLabelView.logocover.url}}"
                alt="{{PrintShippingLabelView.alternate}}" style="length: {{PrintShippingLabelView.length_for_resize}}px; width: {{PrintShippingLabelView.width_for_resize}}px;"></a>
        {% endif %}
        {% endfor %}
						<!-- logo -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

<html lang="en"><head>
  <meta charset="UTF-8">


    <link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">

    <meta name="apple-mobile-web-app-title" content="CodePen">

    <link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">

    <link rel="mask-icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg" color="#111">




    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>


  <title>CodePen - shipping label generator</title>

    <link rel="canonical" href="https://codepen.io/celenajasmin/pen/MWKPyVV">




<style>
input {
  display: block;
}

.module--shipping-label-template {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.05);
  background: white;
}
</style>

  <script>
  window.console = window.console || function(t) {};
</script>



</head>

<body translate="no">
  <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
<div class="module--shipping-label-template">
<div>
  <h3>Sender information</h3>
  <label for="sender-name">Name
    <input id="sender-name" placeholder="John Doe"></label>
  <label>Address
  <input id="sender-address-first" placeholder="122 Baker Street">
    <input id="sender-address-second" placeholder="London, United Kingdom">
  </label>
  <label>Phone
  <input id="sender-phone" placeholder="1234 5678">
  </label>
</div>
<div>
  <h3>Receiver information</h3>
  <label for="receiver-name">Name
  <input id="receiver-name" placeholder="John Doe">
  </label>
  <label>Address
  <input id="receiver-address-first" placeholder="122 Baker Street">
  <input id="receiver-address-second" placeholder="London, United Kingdom">
  </label>
  <label>Phone
  <input id="receiver-phone" placeholder="1234 5678">
  </label>
</div>
<div>
  <h3>Package details</h3>
  <input id="ship-date" type="date">
  <input id="tracking-number" placeholder="324321">
  <input id="weight" placeholder="weight">
</div>
  <button class="generate-pdf">Generate shipping label</button>
</div>
<svg id="barcode"></svg>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script id="rendered-js">
$(document).ready(function () {
  document.getElementById('ship-date').valueAsDate = new Date();
});

$(".generate-pdf").on("click", function () {
  var printWindow = window.open('', '', 'height=600,width=800');
  printWindow.document.write('<html><head><title>');
  printWindow.document.write($("#tracking-number").val());
  printWindow.document.write('</title>');
  printWindow.document.write('<style>* { font-family: sans-serif } p { margin:5px 0; }h6{display:inline; text-transform:uppercase}</style><style media="print">@page { size: auto;margin: 0; } </style>');
  printWindow.document.write('</head><body style="display: flex;flex-direction: column;height: 90%;box-sizing: border-box;padding:40px">');
  var senderInfo = combineSenderInfo();
  var packageDetails = combinePackageDetails();
  var receiverInfo = combineReceiverInfo();
  printWindow.document.write('<div style="display:flex;justify-content:space-between">');
  printWindow.document.write(senderInfo);
  printWindow.document.write(packageDetails);
  printWindow.document.write('</div>');
  printWindow.document.write(receiverInfo);
  printWindow.document.write('</body></3html>');
  printWindow.document.close();
  printWindow.print();
  var trackingNumber = $("#tracking-number").val();
  JsBarcode("#barcode", trackingNumber, {
    width: 4,
    height: 100,
    flat: true,
    displayValue: false });

});

function combineSenderInfo() {
  var from = "<div><h5>FROM:</h5>";
  var name = $("#sender-name").val() + "<br>";
  var address = $("#sender-address-first").val() + "<br>" + $("#sender-address-second").val() + "<br>";
  var phone = $("#sender-phone").val() + "</div>";
  return from + name + address + phone;
}

function combineReceiverInfo() {
  var from = "<div style='max-width:500px;margin:0 auto;'><h3>To: ";
  var name = $("#receiver-name").val() + "</h3>";
  var address = "<h3>" + $("#receiver-address-first").val() + "<br>" + $("#receiver-address-second").val() + "<br>";
  var phone = $("#receiver-phone").val() + "</h3></div>";
  return from + name + address + phone;
}

function combinePackageDetails() {
  var container = "<div style='text-align:right'>";
  var date = "<h6>SHIP DATE: " + $("#ship-date").val() + "</h6><br>";
  var weight = "<h6>WEIGHT: " + $("#weight").val() + "</h6><br>";
  var tracking = "<h6>TRACKING #: " + $("#tracking-number").val() + "</h6>";
  var barcode = $("#barcode").html();
  return container + date + weight + tracking + barcode;
}
//# sourceURL=pen.js
    </script>





	<!-- jquery -->
     <script src="{% static 'css/js/jquery-1.11.3.min.js' %}"></script>
     <script src="{% static 'css/js/main.js' %}"></script>
     <script src="{% static 'css/js/css/bootstrapper.min.js' %}"></script>
     <script src="{% static 'css/js/jquery.countdown.js' %}"></script>
     <script src="{% static 'css/js/jquery.isotope-3.0.6.min.js' %}"></script>
     <script src="{% static 'css/js/waypoints.js' %}"></script>
	 <script src="{% static 'css/js/jquery.magnific-popup.min.js' %}"></script>
     <script src="{% static 'css/js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'css/js/jquery.meanmenu.min.js' %}"></script>
     <script src="{% static 'css/js/sticker.js' %}"></script>

</body>
</html>