{% extends 'ebase.html' %}

{% load static %}

{% block head %}
    {% if profile %}
        {% if profile.avatar %}
        <link rel="icon" type="image/x-icon" href="{{ profile.avatar.url }}">
        {% else %}
        <h1>No Profile Image Found</h1>
        {% endif %}
    {% else %}
        {% for favicon in Favicons %}
            {% if favicon.faviconpage == 'profile.html' %}
                <link rel="icon" type="image/x-icon" href="{{ favicon.faviconcover.url }}">
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}

<head>

    {% if profile %}
<title>{{profile.user}}'s Profile</title>
        {% else %}
        <title>No Profile Found</title>
    {% endif %}

{% if profile %}
        {% if profile.avatar %}
        <link rel="icon" type="image/x-icon" href="{{ profile.avatar.url }}">
        {% else %}
        {% endif %}
{% else %}
    {% for favicon in Favicons %}
        {% if favicon.faviconpage == 'profile.html' %}
            <link rel="icon" type="image/x-icon" href="{{ favicon.faviconcover.url }}">
        {% endif %}
    {% endfor %}
{% endif %}


</head>
<body>
    <div class="column three mobile-twelve section_header_logo vertical-align-middle"
        style="position: -webkit-sticky; position: sticky; top: 10px; left: -10px; z-index: 100;">
      {% for profile in Logo %}
      {% if profile.page == "profile.html" %}
        <a class="logo" href="{{ profile.hyperlink }}">
          <img class="imageicon" src="{{ profile.logocover.url }}" alt="{{ profile.alternate }}"
               width="145vh" height="100vh" style="z-index: 100;">
        </a>
      {% endif %}
      {% endfor %}
    </div>

<br>
<br>
<br>
<br>
<br>
<!--
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
-->
    {% if profile %}
        {% if profile.avatar %}
<div class="container" style="background: {{profile.avatar.url}}; border-radius: 20px;" >
        <img src="{{ profile.avatar.url }}" style="max-width: 50%; max-height: 50%; border-radius: 50px;">
        {% else %}
    <div class="container">
        <h1 style="color: white;">No Profile Image Found</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        {% endif %}
        <h1 style="color: white;">My Profile</h1>
        <p style="color: white;">Username: {{ profile.user }}</p>
        <p style="color: white;">About Me: {{ profile.about_me }}</p>
        <p style="color: white;">Email: {{ profile.email }}</p>
        <p style="color: white;">Level: {{ profile.level }}</p>
<br>

        <br>
        <br>
<br>
</div>



</div>
    {% else %}
        <h1>No Profile Found</h1>
    {% endif %}
<!--could make a profile home page that redirects to your profile based on the url (which in turn is based on your profile)-->

</body>
{% endblock %}
