{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    {% if profile %}
        <img src="{{ profile.avatar.url }}">
        <h1>My Profile</h1>
        <p style="color: black">Username: {{ profile.user }}</p>
        <p style="color: black">About Me: {{ profile.about_me }}</p>
        <p style="color: black">Email: {{ profile.email }}</p>
    {% else %}
        <h1>No Profile Found</h1>
    {% endif %}



</div>
<!--could make a profile home page that redirects to your profile based on the url (which in turn is based on your profile)-->
{% endblock %}
