
{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% for ConvertBackgroundImage in Titles %}
      {% if ConvertBackgroundImage.page == 'index.html' %}
         {{ ConvertBackgroundImage.overtitle }}
      {% endif %}
  {% endfor %}
{% endblock title %}

{% block content %}

{% load guest_user %}

{% if user|is_guest_user %}
  {# user is a guest instance, link to conversion page #}
  <a href="{% url 'showcase:convert' %}">Sign up and save your work!</a>
{% else %}
  {# regular sign up link #}
  <a href="{% url 'login' %}">Please login or sign up.</a>
{% endif %}

{% endblock content %}