{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <!--change title tags to django form -->

<link rel="icon" href="{% static 'images/favicon.ico' type='image/ico' %}">
</head>
  
<body>   
 

  <div id="overlay">  
    <img src = "76.gif">
    </div>

    <div class="parallax1arules" id = "main">
      <h2 class = "opening">Quantumsim Rules</h2> 
<br>
<br>      
<br>      
<br>      
<br>      
<br>      
<br>      
<br>      
<br>      
<br>      
<br>      
<br>    
<br>      
<br>      
<br>      
<br>      
<br>      
<br>      
<br>           
      <h2 class="caption1arules">1. No backstabbing
        <br>
2. There is a 3-strike rule; if you get 3 strikes you get banned from the server
        <br>
3. No spamming general or you will be muted 5 minutes
        <br>
4. If you continue spamming after you have been muted, it can result in a longer mute or a strike (or even both)
        <br>
5. No bullying members; if you do bully them, you will get a chance to state your side of it
        <br>
6. No inviting members on the hitlist (banlist)
        <br>
7. No NSFW in non-NSFW designated channels
        <br>
8. If a staff gives you a punishment you feel you did not deserve, you reserve the right to appeal the punishment <wbr> or talk to a staff about it.
        <br>
9. No begging for roles; it will do nothing for you. There is a specific application form, along with some requiernments. <br> For more information, ask a staff member or see the staff-applications channel.
        <br>
10. No twisting/bending the rules, like role-begging in dms or bullying members in dms.
        <br>
11. No pinging everyone, or a group of people unnecessarily. Only ping everyone if there is an emergency concerning everyone, <br>like a bad hacker. </h2>
        <br>
    </div>  
      
    
    <div class="parallax2arules" id = "leaders">
       {% for RuleBackgroundImage in object_list %}
    <!--<h2>{{ BackgroundImage.title }}</h2>-->
      <img class = "backgroundimages" src="{{RuleBackgroundImage.cover.url}}" alt="{{ RuleBackgroundImage.title }}">
  {% endfor %}
        <h2 class = "opening2rules">Rule Appeal</h2>
          <h2 class="caption2arules">
      Our rules are meant to be fair and create a welcoming, thriving community. If you want to appeal a punishment for breaking a rule, or you think were unfairly punished or falsely accused of breaking a rule please fill out this form. A staff member will look over it and decide whether or not to give you an appeal, or if you were unfairly punished, have a fair jury to decide your case.</div>
          </h2>
    </div>

    <div class="parallax3arules" id = "difference"><h2 class = "opening3rules">Ban Appeal</h2><h2 class="caption3arules">If you want to appeal your ban, please fill out this form. A staff member will look over it and decide whether or not to give you an appeal. If your appeal is valid, you will be reinvited to MC, but you will start off as a member regardless of your previous rank unless the ban was accidental or falsely done. You are still able to apply for staff but you must wait at least 2 months after you are accepted back to apply for staff.</h2></div>
    </div>
    </div>


    <div class="parallax4arules" id = "innovation">
      <h2 class = "opening4rules">Rule Revision</h2><h2 class="caption4arules">If you think a rule needs a revision or needs to be deleted, or a new rule needs to be added, please contact one of our Team Leaders and we will see if your request is valid. If it is valid, we will forward it into a voting poll. If at least 2/3 of the server's members (or congress members) decide to change, delete, or add a rule, it will be done.</h2></div>  

    </div>
  </div> 

    
     <!--<div class="parallax5arules"><h2 class = "opening5rules">Join Us</h2><h2 class="caption5arules">If you have read this far, don't just sit there. Click the〖𐌑𐌂〗icon below to get in! </h2></div>

           <div class="metaclass">
    <a href="https://discord.gg/g43uGbURUz">
         <img alt="Qries" src="../static/css/images/MC.png"
         width="350" height="150">
      </a>

          </div>
    </div>
         
    </div>

    </div>-->




  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    
</body>

{% endblock content %}