{% extends 'memberbase.html' %}

{% load static %}

{% block title %}
    {% for ShowcaseBackgroundImage in Titles %}
      {% if ShowcaseBackgroundImage.page == 'showcase.html' %}
         {{ ShowcaseBackgroundImage.overtitle }}
      {% endif %}
    {% endfor %}
{% endblock title %}

{% block content %}

  {% if user.is_authenticated %}



<div class="poste1">


{% for ShowcaseBackgroundImage in Background %}
    <img class = "backgroundimages" src="{{ShowcaseBackgroundImage.cover.url}}" alt="{{ ShowcaseBackgroundImage.backgroundtitle }}" style="background-position: fixed;">

</div>
{% endfor %}

<div class = "search">

<br>
<br>
<br>
<br>
<br>
<br>

<form action="{% url 'showcase:search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
</div>
<br>
  <br>
    <h1 class="hello">Hello {{user.username}}!</h1>
      <br>
        <br>
    <!--saved items here-->
    {% for Post in ShowcasePost %}
      <div class = "postop">
        <h1>{{Post.name}}</h1>
        <br>
        <p class="describe">
          {{Post.description}}</p>
        <br>
        <br>
          <img class = "hunt" src="{{Post.image}}">
        <br>
        <br>
        <br>
  </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


   <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>

    {% endfor %}


  {% load guest_user %}

    {% elif user|is_guest_user %}
    {# user is a guest instance, link to conversion page #}

  <a href="{% url 'showcase:convert' %}">Sign up and save your work!</a>
    {% else %}
<head>
  <meta http-equiv="refresh" content="0; url=http://{{ request.get_host }}/accounts/login">
  </head>
<!--{# regular sign up link #}
  <a href="{% url "form"}">Register now!</a>-->
    {% endif %}


{% endblock content %}