{% extends 'memberbase.html' %}
{% load static %}
    {% for StaffBackgroundImage in Titles %}
      {% if StaffBackgroundImage.page == 'staffdone.html' %}
         {{ StaffBackgroundImage.overtitle }} 
      {% endif %}
    {% endfor %} 
{% block content %}

<head>
  <!--change title tags to django form -->
<link rel="icon" href="{% static 'images/favicon.ico' type='image/ico' %}">
</head>
  
<body>  
  
  <div id="overlay">  
    <img src = "76.gif">
    </div>

    <div class="parallax1">
              {% for StaffBackgroundImage in object_list %}
    <!--<h2>{{ StaffBackgroundImage.title }}</h2>-->
      <img class = "backgroundimages" src="{{StaffBackgroundImage.cover.url}}" alt="{{ StaffBackgroundImage.backgroundtitle  }}">
  {% endfor %}      
  <span>{% for StaffBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == StaffBackgroundImage.section %}
         {% if StaffBackgroundImage.page == 'staffdone.html' %}
       {% if StaffBackgroundImage.section == 1 %}
     {{ StaffBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</span>
  </div>
    <div class="parallax2" id = "leaders">
        <h2 class = "opening2vb">
          {% for StaffBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == StaffBackgroundImage.section %}
         {% if StaffBackgroundImage.page == 'staffdone.html' %}
       {% if StaffBackgroundImage.section == 2 %}
     {{ StaffBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2>
          <h2 class="caption2a">
           {% for StaffBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == StaffBackgroundImage.section %}
         {% if StaffBackgroundImage.page == 'staffdone.html' %}
       {% if StaffBackgroundImage.section == 3 %}
     {{ StaffBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}
            </div>
          </h2>
    </div>


    <div class="parallax3" id = "innovation">
      <h2 class = "opening3vb">{% for StaffBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == StaffBackgroundImage.section %}
         {% if StaffBackgroundImage.page == 'staffdone.html' %}
       {% if StaffBackgroundImage.section == 4 %}
     {{ StaffBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2><h2 class="caption3a">{% for StaffBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == StaffBackgroundImage.section %}
         {% if StaffBackgroundImage.page == 'staffdone.html' %}
       {% if StaffBackgroundImage.section == 5 %}
     {{ StaffBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2></div>  

    <div class="parallax4" id = "difference"><h2 class = "opening4">{% for StaffBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == StaffBackgroundImage.section %}
         {% if StaffBackgroundImage.page == 'staffdone.html' %}
       {% if StaffBackgroundImage.section == 6 %}
     {{ StaffBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2><h2 class="caption4a">{% for StaffBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == StaffBackgroundImage.section %}
         {% if StaffBackgroundImage.page == 'staffdone.html' %}
       {% if StaffBackgroundImage.section == 7 %}
     {{ StaffBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2></div>
    </div>
  </div> 

    
     <div class="parallax5"><h2 class = "opening5vb">{% for StaffBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == StaffBackgroundImage.section %}
         {% if StaffBackgroundImage.page == 'staffdone.html' %}
       {% if StaffBackgroundImage.section == 8 %}
     {{ StaffBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2><h2 class="caption5a">{% for StaffBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == StaffBackgroundImage.section %}
         {% if StaffBackgroundImage.page == 'staffdone.html' %}
       {% if StaffBackgroundImage.section == 9 %}
     {{ StaffBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2></div>

           <div class="metaclass">
    <a href="https://discord.gg/g43uGbURUz">
         <img alt="Qries" src="../static/css/images/MC.png"
         width="350" height="150">
      </a>

          </div>
    </div>
         
    </div>

    </div>

  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/header1.js' %}"></script>



  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/header1.js' %}"></script>

</body>

{% endblock content %}


