{% extends 'contactbase.html' %}

{% block content %}
<head>

</head>

<body style="background: linear-gradient(rgba(0, 23, 45), rgba(34, 20, 64))">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="mx-auto my-4 text-center">
    <h1 class="fw-bolder text-success">We sent your email to {{ Contact.email }}.</h1>
    <p class="my-5">You can send another in the <a href="{% url 'showcase:contact' %}">contact page</a>. Or, if you are done, return <a href="{% url 'showcase:index' %}">home</a>.</p>
</div>
{% endblock %}
</body>