{% extends 'base.html' %}
{% load static %}
    {% for TestBackgroundImage in Titles %}
      {% if TestBackgroundImage.page == 'test.html' %}
         {{ TestBackgroundImage.overtitle }} 
      {% endif %}
    {% endfor %} 
{% block content %}

<head>
  <!--change title tags to django form -->
<!--<title> IntelleX </title>-->
 <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  </head>
  
<body>   

  <div id="overlay">  
           {% for TestBackgroundImage in object_list %}
    <!--<h2>{{ TestBackgroundImage.title }}</h2>-->
      <img class = "backgroundimages" src="{{TestBackgroundImage.cover.url}}" alt="{{ TestBackgroundImage.backgroundtitle  }}">
  {% endfor %}
    <!--<img src = "76.gif">-->
    </div>

    <div class="parallax1" id = "main">
      <h2 class = "opening">
        {% for TestBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TestBackgroundImage.section %}
         {% if TestBackgroundImage.page == 'test.html' %}
       {% if TestBackgroundImage.section == 1 %}
     {{ TestBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2> <h2 class="caption1a">
  {% for TestBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TestBackgroundImage.section %}
         {% if TestBackgroundImage.page == 'test.html' %}
       {% if TestBackgroundImage.section == 2 %}
     {{ TestBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}
  </h2>
    </div>  
   
    
    <div class="parallax2" id = "leaders">
        <h2 class = "opening2">
          {% for TestBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TestBackgroundImage.section %}
         {% if TestBackgroundImage.page == 'test.html' %}
       {% if TestBackgroundImage.section == 3 %}
     {{ TestBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2>
          <h2 class="caption2a">
            {% for TestBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TestBackgroundImage.section %}
         {% if TestBackgroundImage.page == 'test.html' %}
       {% if TestBackgroundImage.section == 4 %}
     {{ TestBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}
            </div>
          </h2>
    </div>


    <div class="parallax3" id = "innovation">
      <h2 class = "opening3">
        {% for TestBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TestBackgroundImage.section %}
         {% if TestBackgroundImage.page == 'test.html' %}
       {% if TestBackgroundImage.section == 5 %}
     {{ TestBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2><h2 class="caption3a">
  {% for TestBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TestBackgroundImage.section %}
         {% if TestBackgroundImage.page == 'test.html' %}
       {% if TestBackgroundImage.section == 6 %}
     {{ TestBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2></div>  

    <div class="parallax4" id = "difference"><h2 class = "opening4">{% for TestBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TestBackgroundImage.section %}
         {% if TestBackgroundImage.page == 'test.html' %}
       {% if TestBackgroundImage.section == 7 %}
     {{ TestBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2><h2 class="caption4a">
  {% for TestBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TestBackgroundImage.section %}
         {% if TestBackgroundImage.page == 'test.html' %}
       {% if TestBackgroundImage.section == 8 %}
     {{ TestBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2></div>
    </div>
  </div> 


    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    
</body>

{% endblock content %}


