
{% extends 'base.html' %}
{% load static %}
    {% for TheoriesBackgroundImage in Titles %}
      {% if TheoriesBackgroundImage.page == 'theories.html' %}
         {{ TheoriesBackgroundImage.overtitle }} 
      {% endif %}
    {% endfor %} 
{% block content %}

<head>
  <!--change title tags to django form -->
<link rel="icon" href="{% static 'images/favicon.ico' type='image/ico' %}">
</head>
  
<body>       

  <div id="overlay">  
    <img src = "76.gif">
    </div>

    <div class="parallax1" id = "main">
              {% for TheoriesBackgroundImage in object_list %}
    <!--<h2>{{ TheoriesBackgroundImage.title }}</h2>-->
      <img class = "backgroundimages" src="{{TheoriesBackgroundImage.cover.url}}" alt="{{ TheoriesBackgroundImage.backgroundtitle  }}">
  {% endfor %}
      
  <span class = "shiftspan">
    {% for TheoriesBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TheoriesBackgroundImage.section %}
         {% if TheoriesBackgroundImage.page == 'theories.html' %}
       {% if TheoriesBackgroundImage.section == 1 %}
     {{ TheoriesBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</span>
  <section id="section01" class="demo">
  <a href="#leaders"><span></span></a>
</section>
  </div>
  
<!--
<section id="section02" class="demo">
<a href="#innovation"><span></span></a>
</section>
            </div>
    </div>
<div class='wrap'>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
</div>-->
  
    <div class="parallax2" id = "leaders">
        <h2 class = "opening2vb">
          {% for TheoriesBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TheoriesBackgroundImage.section %}
         {% if TheoriesBackgroundImage.page == 'theories.html' %}
       {% if TheoriesBackgroundImage.section == 2 %}
     {{ TheoriesBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2>
          <h2 class="caption2a">
           {% for TheoriesBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TheoriesBackgroundImage.section %}
         {% if TheoriesBackgroundImage.page == 'theories.html' %}
       {% if TheoriesBackgroundImage.section == 3 %}
     {{ TheoriesBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}
          </h2>

    </div>

    <div class="parallax3" id = "innovation">
      <h2 class = "opening3vb">{% for TheoriesBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TheoriesBackgroundImage.section %}
         {% if TheoriesBackgroundImage.page == 'theories.html' %}
       {% if TheoriesBackgroundImage.section == 4 %}
     {{ TheoriesBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2><h2 class="caption3a">
  {% for TheoriesBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TheoriesBackgroundImage.section %}
         {% if TheoriesBackgroundImage.page == 'theories.html' %}
       {% if TheoriesBackgroundImage.section == 5 %}
     {{ TheoriesBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}  </h2>
 
<div class="night">
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
  <div class="shooting_star"></div>
</div>
      <section id="section03" class="demo">
<a href="#difference"><span></span></a>
</section>  
      </div>  

    <div class="parallax4" id = "difference"><h2 class = "opening4">{% for TheoriesBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TheoriesBackgroundImage.section %}
         {% if TheoriesBackgroundImage.page == 'theories.html' %}
       {% if TheoriesBackgroundImage.section == 6 %}
     {{ TheoriesBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2><h2 class="caption4a">
  {% for TheoriesBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TheoriesBackgroundImage.section %}
         {% if TheoriesBackgroundImage.page == 'theories.html' %}
       {% if TheoriesBackgroundImage.section == 7 %}
     {{ TheoriesBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2>
    <section id="section04" class="demo">
<a href="#join"><span></span></a>
</section>
    </div>
    </div>
  </div> 

    
     <div class="parallax5" id = "join"><h2 class = "opening5vb">{% for TheoriesBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TheoriesBackgroundImage.section %}
         {% if TheoriesBackgroundImage.page == 'theories.html' %}
       {% if TheoriesBackgroundImage.section == 8 %}
     {{ TheoriesBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2><h2 class="caption5a">
  {% for TheoriesBackgroundImage in TextFielde %}
             {% for section in TextFielde %}
          {% if section.section == TheoriesBackgroundImage.section %}
         {% if TheoriesBackgroundImage.page == 'theories.html' %}
       {% if TheoriesBackgroundImage.section == 9 %}
     {{ TheoriesBackgroundImage.text }}
            {% endif %}
          {% endif %}
          {% endif %}
  {% endfor %}
{% endfor %}</h2>
     </div>

           <div class="metaclass">
    <a href="https://discord.gg/g43uGbURUz">
         <img alt="Qries" src="../static/css/images/MC.png"
         width="350" height="150">
      </a>

          </div>
    </div>
         
    </div>

    </div>

  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/header1.js' %}"></script>



  
    <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
    <script src="{% static 'css/js/header1.js' %}"></script>
    <script src="{% static 'css/js/arrowscroll.js' %}"></script>

</body>

{% endblock content %}


