<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Hits</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>

    </style>
</head>
<body>
    <h1>Top Hits</h1>
    <div id="top-hits-container">
        {% include 'partials/top_hits_partial.html' %}
    </div>

    <script>
        function fetchTopHits() {
            $.ajax({
                url: "{% url 'showcase:top_hits_list' %}",
                type: "GET",
                success: function (data) {
                    $('#top-hits-container').html(data.html);
                },
                error: function () {
                    console.error("Failed to fetch top hits.");
                }
            });
        }

        // Fetch top hits every 10 seconds
        setInterval(fetchTopHits, 2000);

        fetchTopHits();
    </script>
</body>
</html>
