<!--recieves from  vote-->
{% extends 'memberbase.html' %}

{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}
    
  {% if user.is_authenticated %}

    <head>
      
    </head>
    <body>
      
<div class = "search">

<br>
<br>
<br>
<br>
<br>
<br>

<form action="{% url 'showcase:search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
</div>
<div class="poste1"> 
  <br>
    <h1 class="hello">Hello {{user.username}}!</h1>
      <br>
        <br>
    <!--saved items here-->
    {% for Vote in object_list %}
      <div class = "postop">
        <h1>{{Vote.name}}</h1>
        <br>
        <p class="describe">
          {{Vote.description}}</p>
        <br>
        <br>
          <img class = "hunt" src="{{Vote.image.url}}">
        <br>
        <br>
        <br>
  </div>
      <br>
      <br>
      <br>
      <br>

   <!--Custom JS-->
    <script src="{% static 'css/js/script.js' %}"></script>
    <script src="{% static 'css/js.darkmode.js' %}"></script>
    <script src="{% static 'css/js/navbar.js' %}"></script>
    <script src="{% static 'css/js/scroll.js' %}"></script>
</div> <!--recently added-->
   
    {% endfor %}
  {% else %}
<head>
  <meta http-equiv="refresh" content="0; {% url 'login' %}">
  </head>
  {% endif %}
{% endblock content %}